<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>导入管理-单个录入</title>
    <meta name="description" content="博霖教育后台数据管理" />
    <meta name="keywords" content="博霖教育|学历报考中心|学历提升|广东省成人学历报名中心" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../layuiadmin/ku/font-awesome47/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/single.css" /> -->
    <style type="text/css">
    	.app{
    	  
    	}
      .app .myform{
        padding-bottom: 90px;
        width: 940px;
        display: none;
      }
      h1{
        text-align: center;
        padding: 40px 0;
        letter-spacing: 2px;
        font-size: 30px;
      }
      .hide{
        display: none;
      }
      #test1{
        margin: 20px 0 0 30px;
      }
      
    </style>
  </head>
  <body>
    <div class="app">
      <!--  表单录入数据 -->
      <div class="layui-container myform">
        <h1>客户基本信息录入</h1>
        <form action="" id="myform" class="layui-form" method="post">
          <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
              <input type="text" name="cstName" maxlength="12" required lay-verify="required" placeholder="请输入姓名"
                autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
              <input type="text" name="telPhone" maxlength="11" placeholder="请输入客户手机号码" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">微信/QQ</label>
            <div class="layui-input-block">
              <input type="text" name="weixinQq" maxlength="20" placeholder="请输入客户微信/QQ" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
              <input type="radio" name="sex" value="男" title="男">
              <input type="radio" name="sex" value="女" title="女">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
              <input type="text" name="ageGroups" maxlength="3" placeholder="请输入客户年龄" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">学历</label>
            <div class="layui-input-block">
              <input type="text" name="education" placeholder="请输入客户最高学历" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">社保年限</label>
            <div class="layui-input-block">
              <select name="yearsSocial">
                <option value="">请输入社保年限</option>
                <option value="1年以下">1年以下</option>
                <option value="1年">1年</option>
                <option value="2年">2年</option>
                <option value="4年">4年</option>
                <option value="5年">5年</option>
                <option value="6年">6年</option>
                <option value="7年">7年</option>
                <option value="8年">8年</option>
                <option value="9年">9年</option>
                <option value="10年">10年</option>
                <option value="10年以上">10年以上</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">所在地区</label>
            <div class="layui-input-block">
              <input type="text" name="companyId" placeholder="请输入" autocomplete="off" class="layui-input">

            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">居住证年限</label>
            <div class="layui-input-block">
              <select name="livePermitYears">
                <option value="">请选择居住证年限</option>
                <option value="无居住证">无居住证</option>
                <option value="1年以下">1年以下</option>
                <option value="1年">1年</option>
                <option value="2年">2年</option>
                <option value="4年">4年</option>
                <option value="5年">5年</option>
                <option value="6年">6年</option>
                <option value="7年">7年</option>
                <option value="8年">8年</option>
                <option value="9年">9年</option>
                <option value="10年">10年</option>
                <option value="10年以上">10年以上</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">是否有房产</label>
            <div class="layui-input-block">
              <input type="radio" name="hasHours" value="有" title="有">
              <input type="radio" name="hasHours" value="无" title="无">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">客户类型</label>
            <div class="layui-input-block">
              <select name="cstState">
                <option value="">请选择客户类型</option>
                <option value="私海客户">私海客户</option>
                <option value="公海客户">公海客户</option>
                <option value="预约客户">预约客户</option>
                <option value="上门客户">上门客户</option>
                <option value="定金客户">定金客户</option>
                <option value="成交客户">成交客户</option>
                <option value="退费客户">退费客户</option>
                <option value="无效客户">无效客户</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">迁入地址</label>
            <div class="layui-input-block">
              <input type="text" name="moveAddress"  placeholder="请输入来源链接" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">来源平台</label>
            <div class="layui-input-block">
              <input type="text" name="fromPlatform" required lay-verify="required" placeholder="请输入来源平台" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">来源链接</label>
            <div class="layui-input-block">
              <input type="text" name="sourceLink"  placeholder="请输入来源链接" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">创建人</label>
            <div class="layui-input-block">
              <input type="text" required lay-verify="required" name="createUserId" placeholder="请输入创建人" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    
      <button type="button" class="layui-btn" id="test1" title="单个录入客户数据">
        <i class="layui-icon">&#xe654;</i>添加
      </button>
      
      <!-- 显示客户列表 -->
      <table class="layui-table" id="mytable" lay-filter="mytable"></table>
    
    </div>
    
    <script src="../../layuiadmin/js/jquery.js"></script>
    <script src="../../layuiadmin/layui/layui.all.js"></script>
    <script>
      var form = layui.form;
      var table = layui.table;
      baseUrl = "https://www.easy-mock.com/mock/5d27f8f02d663532e5cdb43d/pan";
      
      //监听提交
      form.on('submit(formDemo)', function(data) {
        // layer.msg(JSON.stringify(data.field));
        
        var data = data.field;
        console.log(data)
        
        /**
         * telPhone 
         * weixinQq
         */
        
        if (!$.trim($('input[name=weixinQq]').val()) && !$.trim($('input[name=telPhone]').val())) {
          
          layer.alert('客户电话/微信/QQ 不能全部为空,至少填一项！', {
            icon: 3
          });
          $('input[name=telPhone]').focus();
          return false;
        }
        
        //验证手机号码
        var regphone = /^[1][3,4,5,7,8][0-9]{9}$/;
        
        if(data.telPhone !=''){
          if(!regphone.test(data.telPhone)){
            layer.alert('输入的正确的11位手机号码！', {
              icon: 3
            });
            $('input[name=telPhone]').focus();
            return false;
          }
        }
        
        
        //入户输入有链接验证url 格式
         var reg=/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?/;
        if(data.sourceLink !=''){
          if(!reg.test(data.sourceLink)){
            layer.alert('输入的网址格式不正确,请输入正确格式的网址！', {
              icon: 3
            });
            $('input[name=sourceLink]').focus();
            return false;
          }
        }
        
        //ajax 发送数据
        
        $.ajax({
          type: 'post',
          url: baseUrl,
          data: {
            data: JSON.stringify(data.field)
          },
          success: function(data) {
            console.log(data)
            layer.alert('提交成功', {
              icon: 1
            },function(){
              layer.closeAll();
            });
            //重新渲染表格
            mytable.reload()
            //清空表单
            $('button[type=reset]').click();
          }
        });
        
        return false;
      });
    
      //执行一个 table 实例
      var mytable = table.render({
        elem: '#mytable',
        height: 600,
        id:"mytableId",
        url: baseUrl + '/user/', //数据接口
        title: '客户列表',
        page: true, //开启分页
        toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        totalRow: true, //开启合计行
        cols: [
          [ //表头
            {
               type: 'checkbox',
               fixed: 'left',
            }, {
              field: 'cstId',
              title: 'ID',
              width: 60,
              sort: true,
              align: 'center'
            }, {
              field: 'cstName',
              title: '姓名',
              align: 'center',
              width: 80
            }, {
              field: 'telPhone',
              title: '手机',
              sort: true,
              align: 'center',
              width: 140,
            }, {
              field: 'sex',
              title: '性别',
              align: 'center',
              width: 70,
              sort: true
            },{
              field: 'weixinQq',
              title: '微信/QQ',
              align: 'center',
              width: 140
            }, {
              field: 'ageGroups',
              title: '年龄',
              align: 'center',
              width: 60
            }, {
              field: 'companyId',
              title: '所属校区',
              align: 'center',
              width: 100
            }, {
              field: 'education',
              title: '学历',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'yearsSocial',
              title: '社保年限',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'ruhuReason',
              title: '入户原因',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'livePermitYears',
              title: '居住证年限',
              width: 110,
              sort: true,
              align: 'center'
            },{
              field: 'createUserId',
              title: '创建人',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'sourceLink',
              title: '链接',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'fromPlatform',
              title: '来源平台',
              width: 100,
              sort: true,
              align: 'center'
            },{
              field: 'updateTime',
              title: '更新时间',
              width: 130,
              sort: true,
              align: 'center'
            },{
              field: 'cstState',
              title: '状态',
              width: 100,
              sort: true,
              align: 'center'
            },
            
          ]
        ]
      });
      
      //监听头工具栏事件
      table.on('toolbar(mytable)', function(obj) {
        var checkStatus = table.checkStatus(obj.config.id),
          data = checkStatus.data; //获取选中的数据
        switch (obj.event) {
          case 'add':
            layer.msg('添加');
            break;
          case 'update':
            if (data.length === 0) {
              layer.msg('请选择一行');
            } else if (data.length > 1) {
              layer.msg('只能同时编辑一个');
            } else {
              layer.alert('编辑 [id]：' + checkStatus.data[0].id);
              console.log(data)
            }
            break;
          case 'delete':
            if (data.length === 0) {
              layer.msg('请选择一行');
            } else {
              layer.msg('删除');
            }
            break;
        };
      });
        
          
      //单个录入系统
        $('#test1').on('click',function(){
          layer.open({
          title: '添加客户',
          type:1,
          content: $('.myform'),
          area: ['1100px', '700px']
        });  
      })
    
    </script>
  </body>

</html>
