/************主题蓝色**************/


.nav i{color: #ff6753;}
.outer-container .menu-title>i{background:#ff6753}
.see-more{border: solid 1px #ff6753;color: #ff6753;}
.features-layer .features-flex span.font4{color: #ff6753;}
.theme-nav .nav-flex.cur{color: #ff6753;}
.outer-container.bg1{background: #ff6753;}
.head .back i{color: #ff6753;}
.head .features i{color: #ff6753;}
.outer-container .menu-title.cur.bold{color: #ff6753;}
.mechanism{color: #ff6753;}
.submit-btn{background: #ff6753;}
.class-gps-box .class-gps span b{color: #ff6753;}
.ask-time i{color: #ff6753;}
.class-btm a i.i3{color: #ff6753;}
.outer-container.bg1.opcy{  background: rgba(255, 103, 83, 0.8);}
.attention-nav a.cur{  color: #ff6753; border-bottom: 2px solid #ff6753;}
.infor-data .font06.cur{ color: #ff6753;}
.verification{color:#ff6753}
.get-v a{color:#ff6753}
.other-features a.plus-new{color:#ff6753}
.information_address .lefttxt .do a {border: solid 1px #ff6753;color: #ff6753;}
.information_address .lefttxt .do a.cur{    border: solid 1px #ff6753;background: #ff6753;}
.choose .flexBox span.cur9{color:#ff6753;}
.theme-nav .nav-flex.coving.the b{color:#ff6753;}
.awesome .click-awesome{background:#ff6753;}
.back-index{background:#ff6753;}
.page-add a{color:#ff6753;}























