/************主题蓝色**************/


.nav i{color: #51b989;}
.outer-container .menu-title>i{background:#51b989}
.see-more{border: solid 1px #51b989;color: #51b989;}
.features-layer .features-flex span.font4{color: #51b989;}
.theme-nav .nav-flex.cur{color: #51b989;}
.outer-container.bg1{background: #51b989;}
.head .back i{color: #51b989;}
.head .features i{color: #51b989;}
.outer-container .menu-title.cur.bold{color: #51b989;}
.mechanism{color: #51b989;}
.submit-btn{background: #51b989;}
.class-gps-box .class-gps span b{color: #51b989;}
.ask-time i{color: #51b989;}
.class-btm a i.i3{color: #51b989;}
.outer-container.bg1.opcy{  background: rgba(81, 185, 137, 0.8);}
.attention-nav a.cur{  color: #51b989; border-bottom: 2px solid #51b989;}
.infor-data .font06.cur{ color: #51b989;}
.verification{color:#51b989}
.get-v a{color:#51b989}
.other-features a.plus-new{color:#51b989}
.information_address .lefttxt .do a {border: solid 1px #51b989;color: #51b989;}
.information_address .lefttxt .do a.cur{    border: solid 1px #51b989;background: #51b989;}
.choose .flexBox span.cur9{color:#51b989;}
.theme-nav .nav-flex.coving.the b{color:#51b989;}
.awesome .click-awesome{background:#51b989;}
.back-index{background:#51b989;}
.page-add a{color:#51b989;}

























