
.nav i{color: #ff903f;}
.outer-container .menu-title>i{background:#ff903f}
.see-more{border: solid 1px #ff903f;color: #ff903f;}
.features-layer .features-flex span.font4{color: #ff903f;}
.theme-nav .nav-flex.cur{color: #ff903f;}
.outer-container.bg1{background: #ff903f;}
.head .back i{color: #ff903f;}
.head .features i{color: #ff903f;}
.outer-container .menu-title.cur.bold{color: #ff903f;}
.mechanism{color: #ff903f;}
.submit-btn{background: #ff903f;}
.class-gps-box .class-gps span b{color: #ff903f;}
.ask-time i{color: #ff903f;}
.class-btm a i.i3{color: #ff903f;}
.outer-container.bg1.opcy{  background: rgba(255, 144, 63, 0.8);}
.attention-nav a.cur{  color: #ff903f; border-bottom: 2px solid #ff903f;}
.infor-data .font06.cur{ color: #ff903f;}
.verification{color:#ff903f}
.get-v a{color:#ff903f}
.other-features a.plus-new{color:#ff903f}
.information_address .lefttxt .do a {border: solid 1px #ff903f;color: #ff903f;}
.information_address .lefttxt .do a.cur{    border: solid 1px #ff903f;background: #ff903f;}
.choose .flexBox span.cur9{color:#ff903f;}
.theme-nav .nav-flex.coving.the b{color:#ff903f;}
.awesome .click-awesome{background:#ff903f;}
.back-index{background:#ff903f;}
.page-add a{color:#ff903f;}























