* {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.f_r {
  float: right;
}
.f_l {
  float: left;
}
a {
  text-decoration: none;
  color: #222;
}
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
body {
  background: #f5f5f5;
  font-family: 微软雅黑;
}
img,
a,
span,
input {
  vertical-align: middle;
}
.app .logo-top {
  height: 93px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(200, 200, 200, 0.31);
  font-size: 0;
}
.app .logo-top .logo-box {
  height: 100%;
}
.app .logo-top .logo-box a,
.app .logo-top .logo-box img {
  vertical-align: middle;
}
.app .logo-top .logo-box a {
  display: inline-block;
  font-size: 18px;
  padding: 0 21px;
  height: 100%;
  line-height: 93px;
}
.app .logo-top .logo-box a:hover {
  background: red;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.app .content .page1 {
  height: 661px;
  position: relative;
}
.app .content .page1 img {
  width: 100%;
  height: 100%;
}
.app .content .page1 .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.app .content .page1 .slide1 h2 {
  color: #ff7c1c;
  font-size: 98px;
  line-height: 52px;
  font-weight: 800;
  margin-top: 204px;
}
.app .content .page1 .slide1 p {
  font-size: 58px;
  line-height: 52px;
  font-weight: 600;
  margin-top: 60px;
}
.app .content .page1 .slide1 .btn {
  margin-top: 50px;
}
.app .content .page1 .slide1 .btn a {
  display: inline-block;
  width: 260px;
  height: 64px;
  background-color: #3789ee;
  border-radius: 5px;
  color: #fff;
  line-height: 64px;
  font-size: 30px;
}
.app .content .page1 .slide2 h2 {
  color: #ff7c1c;
  font-size: 108px;
  line-height: 52px;
  font-weight: 800;
  margin-top: 204px;
}
.app .content .page1 .slide2 p.s {
  font-size: 47px;
  line-height: 99px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 60px;
  width: 874px;
  height: 99px;
  background: url(../img/bg5.png) no-repeat;
  color: #fff;
}
.app .content .page1 .slide2 p.r {
  margin-top: 23px;
  background: none;
  font-size: 32px;
  color: #fff;
  line-height: 52px;
}
.app .content .page1 .slide2 p.r a {
  color: #fff;
}
.app .content .page1 .slide2 p.r img {
  width: 40px;
}
.app .content .page1 .slide3 h2 {
  color: #fff;
  font-size: 82px;
  line-height: 82px;
  font-weight: 800;
  width: 868px;
  margin: 0 auto;
  margin-top: 204px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}
.app .content .page1 .slide3 p {
  font-size: 40px;
  line-height: 40px;
  margin-top: 30px;
  color: #fff;
}
.app .content .page1 .slide3 .btn {
  margin-top: 44px;
}
.app .content .page1 .slide3 .btn a {
  display: inline-block;
  width: 262px;
  height: 64px;
  line-height: 64px;
  color: #fff;
  background: #ff7c1c;
  font-size: 30px;
  border-radius: 5px;
}
.app .content .page2 {
  padding-top: 53px;
}
.app .content .page2 .page-box {
  font-size: 0;
}
.app .content .page2 .page-box > div {
  display: inline-block;
  width: 278px;
  height: 278px;
  margin-right: 29px;
}
.app .content .page2 .page-box > div img {
  width: 100%;
  height: 195px;
}
.app .content .page2 .page-box div.last {
  margin: 0;
}
.app .content .page3 .page3-box {
  min-height: 445px;
  background: #fff;
}
.app .content .page3 .page3-box > div {
  display: inline-block;
  width: 25%;
  height: 445px;
  padding-top: 39px;
  padding-left: 29px;
  padding-bottom: 50px;
  float: left;
}
.app .content .page3 .page3-box > div h3 {
  font-size: 26px;
}
.app .content .page3 .page3-box > div li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #7e7e7e;
  margin-top: 21px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.app .content .page3 .page3-box > div li .dian {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: red;
}
.app .content .page3 .page3-box > div li a {
  color: #7e7e7e;
  font-size: 16px;
  display: inline-block;
  height: 100%;
  width: 92%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app .content .page3 .page3-box > div li a:hover {
  color: #e90000;
}
.app .content .page4 {
  margin-top: 80px;
  padding-bottom: 166px;
  text-align: center;
}
.app .content .page4 img.page4-img {
  width: 100%;
}
.app .content .page4 h2 {
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 21px;
  border-bottom: 1px solid #222;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 130px;
  font-weight: 800;
}
.app .content .page4 p.r {
  font-size: 32px;
  font-weight: 800;
  margin-top: 18px;
}
.app .content .page4 p.s {
  margin-top: 18px;
  font-size: 18px;
  color: #787878;
  line-height: 33px;
}
.app .content .page4 .myform {
  width: 1113px;
  height: 566px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  text-align: left;
  padding-top: 104px;
  padding-left: 113px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #b6c5da;
  font-size: 16px;
}
.app .content .page4 .myform img.person {
  position: absolute;
  right: -69px;
  top: -59px;
}
.app .content .page4 .myform input,
.app .content .page4 .myform select,
.app .content .page4 .myform layui-input-inline {
  width: 355px;
  border: solid 1px #b5b5b5;
}
.app .content .page4 .myform .layui-form-select .layui-edge {
  right: -148px;
}
.app .content .page4 .myform .btn {
  padding-left: 109px;
}
.app .content .page4 .myform .btn button {
  display: inline-block;
  width: 355px;
  height: 63px;
  background-color: #f20000;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 26px;
  cursor: pointer;
}
.app .content .page5 {
  padding-top: 139px;
  padding-bottom: 200px;
  text-align: center;
  background: #fff;
}
.app .content .page5 h2 {
  font-size: 50px;
  color: #222;
  line-height: 50px;
  padding-bottom: 79px;
}
.app .content .page5 img {
  width: 1200px;
}
.app .content .page6 {
  height: 713px;
  position: relative;
}
.app .content .page6 img {
  width: 100%;
  height: 713px;
}
.app .content .page6 .m {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  filter: alpha(opacity=19);
  -moz-opacity: 0.19;
  -khtml-opacity: 0.19;
  opacity: 0.19;
}
.app .content .page6 .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 21px;
  color: #fff;
  text-align: center;
}
.app .content .page6 .box h2 {
  font-size: 40px;
  line-height: 45px;
  margin-top: 114px;
}
.app .content .page6 .box p {
  width: 950px;
  line-height: 44px;
  margin: 0 auto;
  margin-top: 93px;
}
.app .content .page6 .box .btn {
  padding-top: 130px;
}
.app .content .page6 .box .btn a {
  display: inline-block;
  color: #fff;
  width: 245px;
  height: 64px;
  line-height: 64px;
  background-color: #ff5d0e;
  border-radius: 3px;
}
.app .footer {
  height: 275px;
  background-color: #001f33;
  color: #fff;
}
.app .footer .copyRight {
  font-size: 0;
}
.app .footer .copyRight > div {
  font-size: 18px;
  float: left;
  height: 275px;
}
.app .footer .copyRight .left {
  width: 280px;
  padding-top: 47px;
}
.app .footer .copyRight .left img {
  width: 100%;
}
.app .footer .copyRight .left p.r {
  text-align: center;
  line-height: 33px;
  height: 33px;
  border-bottom: 1px solid #fff;
}
.app .footer .copyRight .left p.f {
  line-height: 40px;
  height: 40px;
  text-indent: 20px;
}
.app .footer .copyRight .center {
  width: 699px;
  margin-left: 60px;
}
.app .footer .copyRight .center a {
  color: #fff;
  display: inline-block;
  padding: 2 5px;
  margin-right: 30px;
}
.app .footer .copyRight .center .alink {
  padding-top: 70px;
  padding-left: 42px;
}
.app .footer .copyRight .center p.t {
  padding-top: 39px;
  padding-left: 42px;
}
.app .footer .copyRight .center .copy {
  padding-top: 60px;
}
.app .footer .copyRight .right {
  width: 103px;
  float: right;
}
.app .footer .copyRight .right img {
  padding-top: 58px;
  width: 100%;
}
