/* 企业中心总样式 */

/* 整站通用样式 */
*{ margin:0px; padding:0px;}
ul,ol,li{ list-style:none;}
q{ quotes:none;}
a{ text-decoration:none; cursor:pointer;}
a img{ border:0px;}
.common{ width:1000px; margin:0 auto;}
input:focus{ outline:none;}
body{ font-family:"宋体";}
.clear{ clear:both;}
/*IE6 用absolute模拟fixed*/
body{
	_background-image: url(about:blank);     /*用浏览器空白页面作为背景*/
	_background-attachment: fixed;     /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
}
/*半透明背景*/
#GlobalBG{ display:none; position:fixed; left:0px; top:0px; width:100%; z-index:55555;}
.black5{ background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4B000000,endColorstr=#4B000000);}
.white5{ background:rgba(255,255,255,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4BFFFFFF,endColorstr=#4BFFFFFF);}
.top-fixed{
	position:fixed;
	_position: absolute;
    _top:expression(eval(document.documentElement.scrollTop));
}
.bottom-fixed{
	_position: absolute;
	_top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.clientHeight));
}


/*头部*/
.header { height: 133px; background-color: #fff; box-shadow: #eee 0 0 10px; font-family: "微软雅黑";}
.header .header-in, .main { width: 1000px; margin: 0 auto; }
.header .header-in { height: 92px; }
.header .header-in .logo { width: 635px; height: 92px; float: left; }
.header-in .logo a { display: inline-block; height: 92px; float: left; }
.header-in .logo span { display: inline-block; padding-left: 10px; height: 46px; font-size: 20px; line-height: 46px; margin: 24px 0 0 10px; border-left: 1px solid #d0e1f5; color: #9ca4bb; }
.header-in .header-top { width: 365px; float: right; margin-top: 18px; font-size: 14px; text-align: right; }
.header-in .header-top a { padding: 0 4px; color: #999999; }
.header-in .header-top a.cur { color: #ffff !important; }

/*头部导航*/
.header .header-nav { background-color: #187dd6; font-size: 16px; height: 41px; line-height: 41px; }
.header .header-nav p { width: 1000px; margin: 0 auto; }
.header .header-nav a { display: inline-block; color: #ffffff; padding: 0 22px; }
.header .header-nav a.index { padding-left: 0; }
.header .header-nav a.last { float: right; width: 126px; height: 30px; padding: 0; margin-right: 10px; margin-top: 6px; background-color: #ff7e00; line-height: 30px; text-align: center; border-radius: 5px; font-size: 14px; }
.header .header-nav a.cur { color: #fff !important; background-color: #0f70c6; }
.set-sign { float: left; width: 95px; height: 30px; line-height: 30px; text-align: center; padding: 2px 4px; margin-right: 6px; background-color: #e7f3fe; border: 1px solid #b8d7f4; color: #348ddf; }


/*主体*/
.main{ padding-top:30px; margin-bottom:30px;}
.left{ width:165px; float:left; background-color:#fff;}
.right{ width:820px; float:right; background-color:#fff; _overflow:hidden;}
/*左导航*/
.menus{ clear:both; border:1px solid #f0eeee; font-family:"微软雅黑"; min-height:200px; _height:200px;}
/*标题一型*/
.menus h3{ line-height:45px; font-size:16px; padding:0px 20px; position:relative;}
.menus h3 i{ position:absolute; width:12px; height:12px; right:20px; top:16px; background-image:url(../../images/icons.gif); background-position:-36px -12px; _overflow:hidden; *top:4px;}
.menus .off i{ background-position:-12px -36px;}
/*标题二型*/
.menus h4{ line-height:29px; font-size:16px; margin:8px 0px;}
.menus h4 a{ color:#000; display:block; padding:0px 20px;}
.menus h4 a:hover{ color:#fff; background-color:#2677E2;}
/*标题三型*/
.menus h5{ line-height:30px; font-size:16px; font-weight:normal; margin:10px 0px;}
.menus h5 a{ color:#000; display:block; padding:0px 10px;}
.menus h5 a:hover{ color:#fff; background-color:#2677E2;}

/*子导航*/
.menus p{ border-bottom:1px solid #faf9f9; padding-bottom:10px; _position:relative;}
.menus p a{ display:block; line-height:30px; font-size:16px; padding-left:20px; white-space:nowrap; color:#3F3F3F; _height:25px; _padding-top:5px;}
.menus p a:hover,.menus .cur{ color:#fff; background-color:#2677E2;}
/*导航上的红圆圈*/
.menus a i{ display:inline-block; position:relative; background-color:#f00; font-size:12px; border:1px solid #fff; border-radius:30px; line-height:15px; height:15px; min-width:15px; text-align:center; font-style:normal; top:-5px; left:3px; color:#fff;}
.menus a i{ background-color:transparent\9; border:0px\9;  height:16px\9; padding:0px\9; *position:static; *margin-left:3px; *vertical-align:text-top; *top:0px; *left:0px;}
.menus a i.i1{ background-image:url(../../images/UCenter/dot1.png) \9; width:16px\9; height:16px\9;}
.menus a i.i2{ background-image:url(../../images/UCenter/dot2.png) \9; width:20px\9; height:20px\9; line-height:20px\9;}
.menus a.lock{ background:url(../../images/SCenter/lock.gif) 125px center no-repeat;}
/*小字号*/
.menus small{ font-size:12px; color:#666; padding-left:5px;}
.menus .cur small,.menus a:hover small{ color:#fff;}
/*特殊功能项*/
.menus tt{ display:block; line-height:25px; padding:0px 30px; font-size:12px; color:#2677E2; _height:20px; _padding-top:5px; cursor:pointer;}
.menus tt img{ vertical-align:text-bottom;}
/*又一种特殊功能项*/
.menus em{ display:block; line-height:25px; text-align:center; font-size:15px; color:#2677e2; font-style:normal; line-height:35px; cursor:pointer;}


/*分页---首页用*/
.pages{ float:right; margin-top:20px; font-size:12px;}
.pages span,.pages a,.pages b{ display:block; float:left; width:23px; height:23px; line-height:23px; text-align:center; font-size:12px; border:1px solid; margin-right:5px;}
.pages a{ border-color:#ababab; color:#1256A9;}
.pages b{ border-color:#1256A9; background:#27c; color:#fff; font-weight:normal;}
.pages .prev i,.pages .next i{ background-image:url(../../images/icons.gif); width:12px; height:12px; display:inline-block; font-size:0px; vertical-align:text-bottom; vertical-align:middle\9;}
.pages a.prev,.pages a.next{ width:auto !important; padding:0px 4px;}
.pages span{ border-color:#ccc;}
.pages a.prev i{ background-position:bottom center;}
.pages a.next i{ background-position:center top;}
.pages span.prev i{ background-position:right center;}
.pages span.next i{ background-position:left center;}
/*IE67兼容*/
.pages span i{ *margin-top:5px; _margin-top:0px;}
.pages a.next,.pages a.prev{ _height:18px; _padding-top:5px;}
/*跳转*/
.pages .number{ width:20px; border:1px solid #ccc; padding:0px 5px; font-size:12px; height:23px; line-height:23px; vertical-align:middle;}
.pages .btn{ width:38px; height:23px; background:url(../../images/pages-btnbg.jpg); border:1px solid #aaa; vertical-align:middle;}

/*分页-投递反馈用*/
.pages2{ clear:both; text-align:right; margin:15px 0px 45px; font-size:0px; font-family:"微软雅黑";}
.pages2 span,.pages2 a,.pages2 b{ display:inline-block; min-width:20px; height:30px; line-height:30px; _width:20px; text-align:center; padding:0px 5px; font-size:14px; margin-right:10px;}
.pages2 span,.pages2 a{ border:1px solid #ccc; color:#999;}
.pages2 b,.pages2 a:hover{ background-color:#2677E2; color:#fff; border:1px solid #2677E2;}
.pages2 .ctrl{ width:auto;}


/*页脚*/
.footer{ clear:both; border-top:1px solid #C8C8C8; padding:25px 0px; background-color:#F7F7F7;}
/*第一层杂项*/
.tail{ text-align:center; margin-bottom:20px;}
.tail *{ display:inline-block; vertical-align:middle; font-size:12px;}
.tail a,.tail samp{ color:#4a4a4a;}
.tail a:hover{ color:#ff5000;}
/*尾导航*/
.tail-nav{ *margin-left:15px; _margin-left:0px; font-size:0px;}
.tail-nav a{ display:inline-block; border-left:1px solid #a3a3a3; padding:0px 10px; font-size:12px;}
.tail-nav a:hover{ color:#ff5000;}
.tail-nav a.first{ border:0px;}
/*ie67*/
.tail{ white-space:nowrap;}
/*版权*/
.copyright{ text-align:center; line-height:200%; color:#969696; font-size:12px;}


/*表单验证*/
.inputText{ border:solid 1px #A6B6CE; line-height:15px; vertical-align:middle; padding:3px;background:url(../../images/common/inputBg1.jpg) repeat-x; }
.errorMsg{ padding:2px; line-height:17px; width:auto; border:solid 1px #fb9f00; background:#FAFBED url(../../images/common/inputMsgBg1.jpg) 5px center no-repeat; color:red; padding-left:35px; padding-right:10px; margin-left:6px; }
.errorMsg2{ padding:2px; line-height:17px; width:auto; border:solid 1px #FF0000; background:#ffb9b9 url(../../images/common/inputMsgBg1.jpg) 5px center no-repeat; color:red; padding-left:35px; padding-right:10px; margin-left:6px; }
.tipMsg{ padding:2px; line-height:19px; border:solid 0px #FCEDB2; background:url(../../images/common/inputMsgBg2.jpg) 5px center no-repeat; color:#999999; padding-left:35px; padding-right:10px; margin-left:5px; }
.successMsg{ padding:2px; line-height:19px; border:solid 0px #FCEDB2; background:url(../../images/common/inputMsgSuss.png) 5px center no-repeat; color:#999999; padding-left:35px; padding-right:10px; margin-left:5px; }
.loadingMsg{ padding:2px; line-height:17px; border:solid 1px #FCEDB2; background:#FAFBED url(../../images/common/msgLoading.gif) 5px center no-repeat; color:#F58B11; padding-left:35px; padding-right:10px; margin-left:6px; }
.tipMsg a{ text-decoration:underline; color:#999999; }
.tipMsg a:hover{ text-decoration:underline; color:blue; }
#aloading{ position:relative; left:10px; top:8px; *left:-20px;}


/*切换后台*/
.SwitchPlatform{ width:470px; height:210px; overflow:hidden;}
.SwitchPlatform p{ line-height:25px; margin:10px 20px; color:#999; font-size:14px; font-family:"宋体";}
.SwitchPlatform a{ color:#2677e2; font-size:16px; font-family:"微软雅黑";}
.SwitchPlatform a.cur{ color:#ff5000;}
/*圆圈*/
.circle{ position:relative; top:-3px; text-decoration:none;}
.circle span{ position:absolute; width:17px; height:17px; text-align:center; color:#fff; font-size:12px; font-style:normal; z-index:111; line-height:17px;}

/*暂无信息*/
.noinfors{ clear:both; font-size:24px; color:#888; font-family:"微软雅黑"; text-align:center; background-color:#fafafa; margin:0 20px; padding:30px 0 70px;}

/*全屏插件，为了方便横竖居中，使用表格*/
.FullScreenPlugin{ width:100%; height:100%; _height:expression(eval(document.documentElement.clientHeight)); text-align:center; z-index:66666 !important;}
.FullScreenPlugin td{ vertical-align:middle; text-align:center;}
/*半透明背景*/
.black5{ background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4B000000,endColorstr=#4B000000);}
.fixed{ position:fixed; _position:absolute;}
.fixed-top{	top:0px; _top:expression(eval(document.documentElement.scrollTop));}
.fixed-bottom{ bottom:0px; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.clientHeight - (parseInt(this.currentStyle.marginTop) || 0) - (parseInt(this.currentStyle.marginBottom) || 0)));}
/*中心的弹出层*/
.CENTERDIV{ display:none; margin:0 auto; background-color:#f8f8f8; overflow:hidden; border:2px solid #1562c8; font-family:"微软雅黑";}
.CenterTiny{ width:380px;}
.CenterSmall{ width:420px;}
.CenterTiny .CENTERCONTENT,.CenterSmall .CENTERCONTENT{ padding:40px;}
.CenterMiddle{ width:520px;}
.CenterLarge{ width:700px;}
.CenterHuge{ width:800px;}
.CenterMiddle .CENTERCONTENT,.CenterLarge .CENTERCONTENT,.CenterHuge .CENTERCONTENT{ padding:20px;}
.CENTERTOPIC{ font-size:20px; color:#fff; background-color:#1562c8; height:52px; line-height:52px;}
.CENTERTOPIC b{ float:left; font-weight:normal; padding-left:15px;}
.CENTERTOPIC q{ display:block; float:right; width:52px; height:52px; background:url(../../images/v2/icons/times-l.png) center no-repeat; cursor:pointer;}
.CENTERTOPIC q{ _background-image:url(../../images/v2/icons/times-l.gif);}
.CENTERCONTENT{ clear:both; text-align:left; line-height:30px;}
/*普通字提示*/
.CENTERCONTENT samp{ color:#525252; line-height:30px; font-size:20px;}
.CENTERCONTENT h5,.CENTERCONTENT h6{ padding-left:70px; height:60px; background:url(../../images/v2/icons/exclaim.png) left top no-repeat; font-weight:normal; margin-bottom:20px; overflow:hidden;}
.CENTERCONTENT h5,.CENTERCONTENT h6{ _background-image:url(../../images/v2/icons/exclaim.gif);}
/*很显眼的大字提示*/
.CENTERCONTENT h5{ font-size:28px; color:#1562c8; line-height:90px;}
/*大字提示*/
.CENTERCONTENT h6{ color:#1562c8; font-size:20px; line-height:30px;}
.CENTERCONTENT h6.single{ line-height:90px;}
/*不太重要的说明*/
.CENTERCONTENT small{ display:block; color:#8a8a8a; font-size:14px;}
/*红字*/
.CENTERCONTENT b{ color:#f77210;}
/*按钮*/
.CENTERBTNS{ clear:both; line-height:50px !important; font-size:16px;}
/*写在层里的要顶填充，表格里边的不用*/
div.CENTERBTNS{ float:left; width:100%; padding:30px 0 40px;}
td.CENTERBTNS{ padding:10px 0 1px !important;}
.CENTERBTNS input{ display:block; width:152px; height:40px; font-size:16px; text-align:center; border:0; cursor:pointer; border-width:1px; border-style:solid; vertical-align:middle;}
.CENTERDIV .submit{ background-color:#5295f0; color:#fff; border-color:#5295f0;}
.CENTERDIV .reset{ background-color:transparent; color:#8a8a8a; border-color:#b9b9b9;}
.CENTERBTNS input{ float:left; margin:5px 10px 0 0;}
.CENTERBTNS a{ color:#1562c8;}
.CENTERBTNS a.btn{ display:block; float:left; line-height:50px; padding-left:20px;}
.CENTERBTNS a:hover{ color:#fe6703;}
/*确认框，两个按钮左右分别浮动*/
.CenterConfirm .reset{ float:right !important; margin-right:0 !important;}

.CenterAlert,.CenterConfirm{ display:block !important;}
.CenterAlert .ContentDynamic{ text-align:center;}
.CenterAlert h5{ background:none; padding:0 !important; line-height:45px; height:auto !important;}

/*新增面包屑导航*/
.crumb{ clear:both; font-size:14px; font-family:"微软雅黑"; color:#a4a4a4; margin-bottom:20px;}
.pl20{ padding-left:20px;}
.crumb a{ color:#525252;}
.crumb a:hover{ color:#1562c8; text-decoration:underline;}