/* 简历管理系列 */
/*顶标签*/
.labels{ clear:both; margin:20px; background-color:#FAFAFA; font-family:"微软雅黑"; font-size:14px; font-weight:bold; height:35px; line-height:35px; border-bottom:1px solid #DFDFDF; _overflow:hidden;}
.labels li{ float:left; padding:0px 10px; height:35px;}
.labels .cur{ color:#ff5000; height:33px; background:#fff; border-bottom:1px solid #fff; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-top:2px solid #ff5000; _position:relative; _overflow:hidden;}
.labels a{ color:#3e3e3e;}
.labels a:hover,.labels .cur a{ color:#ff5000;}

/*未处理简历的表单*/
.form-undone{ clear:both; margin:20px; height:30px; _z-index:11;}
.form-left{ float:left; padding-top:5px;}
.form-left a{ line-height:20px; height:20px; font-size:14px; font-family:"微软雅黑"; color:#3d3d3d; padding-left:20px; background:url(../../images/CpCenter/icons.jpg) left top no-repeat;}
.form-left a.cur{ background-position:left bottom; color:#ff5000;}
.form-left samp{ display:inline-block; font-size:12px; color:#333; padding-top:20px; line-height:15px;}
/*输入框及下拉列表*/
.form-right{ float:right;}
.form-key,.form-select,.form-submit{ float:left;}
.form-key,.form-submit,.form-select span{ display:block; height:15px; padding:5px; border:1px solid #BCBCBC; font-size:12px; line-height:15px;}
.form-key{ width:110px; padding-right:25px; border-right:0px;}
.form-submit{ width:30px; height:27px; padding:5px; background:url(../../images/CpCenter/mag.jpg) center no-repeat; border-left:0px; cursor:pointer; margin-right:10px;}
.form-select{ width:140px; height:30px; position:relative; z-index:11;}
.form-select i{ position:absolute; width:12px; height:12px; background:url(../../images/icons.gif) -12px 0px; right:5px; top:8px; _overflow:hidden;}
.form-select ul{ display:none; position:absolute; width:138px; border:1px solid #bcbcbc; border-top:0px; background:#fff; padding:10px 0px;}
.form-select li{ font-size:12px; line-height:25px; _height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.form-select li a{ display:block; color:#666; padding:0px 10px;}
.form-select li a:hover{ color:#fff; background-color:#2677e2;}

/*仿表格*/
.table{ clear:both; margin:20px; _z-index:1;}
.thead{ border:1px solid #DDDDDD; background-color:#FAFAFA; line-height:35px; height:35px; padding:0px 10px;}
.thead *{ font-family:"微软雅黑"; font-size:14px; text-align:center;}
.table var,.table kbd,.table ins,.table dfn{ font-style:normal; text-decoration:none; float:left; display:block;}
.thead var{ text-align:left;}
.tr{ clear:both; height:100px; border-bottom:1px dashed #E9E9E9; padding-top:25px;}
hr{ border:#C9C9C9 solid 2px; *height:4px; *position:relative; *top:-8px;}

/*简历管理-未处理简历-通用样式*/
.resumes{}
.resumes var{ width:335px;}
.resumes kbd{ width:150px;}
.resumes dfn{ width:150px;}
.resumes ins{ width:100px;}
/*头像*/
.resumes .tr var{ width:345px;}
.resumes i{ display:block; float:left; width:75px; height:75px; border:1px solid #eaeaea; margin-right:10px;}
.resumes i s{ display:block; width:73px; height:73px; border:1px solid #fff; overflow:hidden;}
/*名字*/
.resumes h4{ font-size:16px; font-family:"微软雅黑"; height:30px; color:#3d3d3d; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*名字附加*/
.resumes small{ font-size:12px; margin-left:10px; font-family:"宋体"; color:#333; font-weight:normal;}
.resumes p{ font-size:14px; font-family:"微软雅黑"; color:#3e3e3e; line-height:25px; _height:25px;}
/*信用度*/
.resumes pre{ font-size:12px; color:#808080; line-height:25px; vertical-align:middle; _padding-top:5px;}
.resumes samp{ display:inline-block; width:80px; height:10px; vertical-align:text-bottom; border:1px solid #e3e3e3; _vertical-align:middle; _overflow:hidden;}
.resumes samp b{ display:block; float:left; background:#ff5000; height:10px;}
/*次要*/
.resumes .tr kbd,.resumes .tr dfn{ text-align:center; font-size:12px; color:#4c4c4c;}
/*操作*/
.resumes .tr ins{ font-size:12px; line-height:30px; padding:10px 0px 0px 10px;}
.resumes ins a{ display:block; color:#2677e3; padding-left:20px;}
.resumes ins a:hover{ color:#ff5000;}
/*浏览，下载*/
.resumes cite{ font-size:12px; font-style:normal; display:block; line-height:30px; _padding-top:5px;}
.resumes cite a{ color:#999;}
.resumes cite a:hover{ color:#ff5000;}

/*未读简历的表格尺寸*/
.unread{}
/*职位及时间*/
.unread .tr kbd,.unread .tr dfn{ line-height:80px;}
.unread .tr kbd{ font-weight:bold;}
.unread var p{ width:250px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/*待确认简历*/
.confirm{}
.confirm dfn{ width:220px;}
.confirm .thead var{ width:280px;}
.confirm .tr kbd{ line-height:80px;}
.confirm .tr dfn{ background:url(../../images/CpCenter/clock.jpg) center 5px no-repeat; height:30px; overflow:hidden; padding-top:45px;}
.confirm dfn span{ display:block; background-color:#2677E2; color:#fff; width:120px; line-height:20px; margin:0px auto;}
.confirm .tr ins{ padding-top:10px;}
.confirm .tr var{ width:290px;}
.confirm var p{ width:200px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/*更改面试时间*/
.reorder{}
.reorder var{ width:280px;}
.reorder kbd{ width:110px; padding:0px 30px;}
.reorder dfn{ width:180px;}
.reorder ins{ width:125px;}
.reorder .tr var{ width:290px;}
/*细节变更*/
.reorder h4{ height:25px;}
.reorder .tr kbd{ width:140px; padding-right:0px; text-align:left; line-height:30px;}
.reorder pre{ font-family:"微软雅黑";}
.reorder .tr dfn{ line-height:30px;}
.reorder dfn span{ display:block; background-color:#2677E2; color:#fff; width:120px; line-height:20px; margin:0px auto;}
.reorder .tr ins{ text-align:center; padding:25px 0px 0px 0px; color:#2673ec;}
.reorder ins a{ display:inline; padding:0px;}
.reorder var p{ height:50px; overflow:hidden;}

/*已邀请面试*/
.invite{}
.invite dfn{ width:160px; text-align:left !important;}
.invite var{ width:340px; padding-left:40px;}
.invite kbd{ width:100px; padding:0px 40px;}
.invite .tr{ height:auto; float:left; width:100%; padding:0px;}
.invite .trr{ width:540px; float:right; height:130px; border-bottom:1px dashed #e9e9e9; position:relative;}
.invite .tr var{ width:330px; padding-top:25px; padding-left:0px;}
.invite .tr kbd{ text-align:left; padding:30px 0px 0px 40px; width:140px;}
.invite .tr kbd *{ color:#3467D4;}
/*细节变更*/
.invite pre{ font-family:"微软雅黑";}
.invite var p{ height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*时间*/
.invite code,.invite em{ display:block; float:left; width:20px; height:131px; position:absolute; background-image:url(../../images/CpCenter/time.jpg); background-repeat:no-repeat; left:-40px;}
.invite em{ background-position:top; font-style:normal;}
.invite code{ background-position:bottom;}
.invite em b{ position:absolute; font-size:24px; font-family:Arial, Helvetica, sans-serif; color:#979797; font-weight:normal; left:-70px; top:50px;}
/*日期*/
.invite span{ display:block; font-size:14px; color:#fff; position:relative; left:10px; top:25px; height:25px; text-align:center; line-height:25px; font-weight:bold;}
.invite span.s{ background-image:url(../../images/CpCenter/bg-s.jpg); width:68px;}
.invite span.l{ background-image:url(../../images/CpCenter/bg-l.jpg); width:114px;}
.invite q{ position:absolute; width:17px; height:19px; background-image:url(../../images/CpCenter/bg-r.jpg); right:-15px; top:-15px; font-size:12px; line-height:20px; font-weight:normal;}

/*更多的链接*/
.tfoot{ width:540px; float:right; height:30px; position:relative; font-size:12px; line-height:30px; text-align:right;}
.tfoot a{ color:#2577E5;}
.tfoot code{ height:30px; *top:0px;}

/*确认来面试，跟“已邀请”共用，但要调节尺寸*/
.sure{}
.sure ins{ font-family:"微软雅黑";}
.sure .thead var{ width:220px !important;}
.sure .thead ins{ width:180px;}
.sure .thead kbd{ width:70px !important;}
.sure .trr{ width:600px !important;}
.sure .trr ins{ width:180px; text-align:center; font-size:14px; color:#666; line-height:100px;}
.sure .trr var{ width:240px !important;}
.sure .trr kbd{ width:110px !important; padding-left:20px;}
.sure .tfoot code{ left:-100px;}
.sure var p{ height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; _width:140px;}
.sure tt{ display:inline-block; width:100px; height:25px; line-height:25px; font-size:12px; color:#fff !important; background-color:#75aaf0; text-align:center; position:relative; top:10px; cursor:pointer;}

/*不合适*/
.notmatch .tr ins{ padding-top:25px !important;}
/*拒绝*/
.refuse dfn{ float:right;}
.refuse .tr dfn{ margin-right:10px; _margin-right:5px;}
/*人才库*/
.store .tr ins{ padding-top:25px !important; padding-left:20px !important; width:70px !important;}

/*弹出层*/
.CenterDiv{ overflow:hidden;}
.Notmatch,.Interview{ width:570px; padding:15px; border:0px !important;}
.CenterContent{}
/*表单*/
.CenterForm{ margin-top:20px;}
.CenterForm var{ width:120px;}
.CenterForm dfn{ width:440px; padding-left:10px;}
.CenterForm var.v-s{ width:85px;}
.CenterForm dfn.d-s{ width:150px; padding-left:10px;}
.CenterArea{ width:460px !important; height:150px !important; padding:10px; border:1px solid #b8b8b8; display:block; margin-left:55px;}
.CenterSelect{ float:left; margin-right:20px;}
.CenterForm samp{ padding-left:55px;}
.CenterForm .text{ height:30px; line-height:30px; border:1px solid #ccc; padding:0px 10px;}
.CenterForm .t-s{ width:140px;}
.CenterForm .t-l{ width:385px;}

/*时间选择*/
.tp *{ line-height:35px;}
.tp b{ display:block; float:left; color:#FF5000; font-size:16px; text-align:right; width:200px;}
.tp q{ display:block; float:left; width:20px; text-align:center; font-weight:bold;}
.tp p a{ display:block; clear:both;}
.tp p a:hover{ background:#ff5000; color:#fff;}
.tp p{ display:none; position:absolute; background:#fff; left:-1px; top:25px; border:1px solid #c5c5c5; width:50px; border-top-color:#fff; max-height:210px; overflow:auto; _height:210px;}
.tp i{ display:block; position:absolute; right:2px; width:12px; height:12px;}
.tp-short i{ background:url(../../images/icons.gif) -12px -12px no-repeat; top:8px; overflow:hidden;}
.tp-short,.tp-long{ float:left; border:1px solid #C5C5C5; position:relative; top:2px; z-index:222;}
.tp-long{ width:170px; margin-right:20px;}
.tp-short{ width:50px;}
.tp-time,.tp-date{ border:0px; height:30px; line-height:30px; float:left; letter-spacing:3px;}
.tp-time,.tp-date,.timepicker p a{ font-size:16px; color:#666; font-family:Arial, Helvetica, sans-serif; text-align:center; font-weight:bold;}
.tp-date{ width:145px;}
.tp-time{ width:35px;}
.tp-long s{ display:block; position:absolute; right:0px; top:7px; line-height:12px; overflow:hidden;}
