<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OA30" connectionString="Data Source=10.79.7.37,5757;Initial Catalog=OA30;Persist Security Info=True;User ID=OA_CONNECTOR_APP;Password=OA_CONNECTOR_APP" providerName="System.Data.SqlClient"/>
    <add name="SuperviseMission" connectionString="Data Source=10.79.7.37,5757;Initial Catalog=SuperviseMission;Persist Security Info=True;User ID=OA_CONNECTOR_APP;Password=OA_CONNECTOR_APP" providerName="System.Data.SqlClient"/>
    <add name="OABASIC" connectionString="Data Source=10.79.7.37,5757;Initial Catalog=BASIC;Persist Security Info=True;User ID=OA_CONNECTOR_APP;Password=OA_CONNECTOR_APP" providerName="System.Data.SqlClient"/>
    <add name="WORKFLOW" connectionString="Data Source=10.79.7.37,5757;Initial Catalog=OA30;Persist Security Info=True;User ID=OA_CONNECTOR_APP;Password=OA_CONNECTOR_APP" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultDataBase" value="SuperviseMission"/>      
  </appSettings>
</configuration>
 