<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 新版加载器的配置 -->
    <!-- MasterServer用于指定主服务器 -->
    <add key="MasterServer" value="OAAppServerA" />
    <!-- 备用服务器清单，支持1~n个，用逗号分隔 -->
    <add key="BackupServerList" value="OAAppServerB,OAAppServerC,OAAppServerD"/>
    <!-- 加载模式，A为本地程序集模式，R为Remoting模式 -->
    <add key="LoadMode" value="A"/>
    <add key="OAAppServerA" value="TCP://10.92.3.12:9097" />
    <add key="OAAppServerB" value="TCP://10.92.3.12:9097" />
    <add key="OAAppServerC" value="TCP://10.92.3.12:9097" />
    <add key="OAAppServerD" value="TCP://10.92.3.12:9097" />
    <!-- 新版加载器的配置 -->

    <!-- 新旧加载器通用配置 -->
    <!-- 启用备用服务器SecondaryServer后，重新测试主服务器需要的时间（秒），该功能目前只对UI调用的AppBiz有效 -->
    <add key="ReCheckMainServerTick" value="300" />
    <!-- 新旧加载器通用配置 -->

    <!-- 旧版加载器的配置 -->
    <!-- DefaultServer用于指定默认服务器 -->
    <add key="DefaultServer" value="MainServer" />
    <!-- MainServer为主服务器，SecondaryServer为备用服务器 -->
    <!--key:自己取的名字，value:由地址和调用模式组成,中间用|分隔-->
    <!--第一段是地址；含协议，地址和端口 例如tcp:10.1.1.1:1234-->
    <!--第二段是模式DARW，D-开发模式 A-assembly模式，R-remoting模式；W-webservice模式-->
    <!--第三段是是否用cache 0-不用 1-用 -->
    <add key="MainServer" value ="TCP://10.92.3.12:9097|A|0"/>
    <add key="SecondaryServer" value ="TCP://10.92.3.12:9097|A|0"/>
    <!-- 旧版加载器的配置 -->
    <!--缓存的时间 单位为分钟-->
    <add key="CacheMinutes" value="10"/>
    <!-- 以下是各函数的接口列表-->
    <!--key格式：接口的namespace＋接口名-->
    <!--value格式：BIZ的namespace+类名,assembly名，一定要注意，namespace+类名也作为remoting和webservice的server端objectUri名称-->
    <!-- 基础数据 员工、用户信息、安全日志 -->   
    <add key="OA30.SuperviseMission.Common.Interface.Mission.ISuperviseMissionBasicData" value="OA30.SuperviseMission.Biz.SuperviseMissionBasicDataBiz,OA30.SuperviseMission.Biz" />
    <add key="OA30.SuperviseMission.Common.Interface.Mission.ISuperviseMissionLog" value="OA30.SuperviseMission.Biz.Log.SuperviseMissionLogBiz,OA30.SuperviseMission.Biz.Log" />
    <add key="OA30.SuperviseMission.Common.Interface.Mission.ISuperviseMissionWorkFlow" value="OA30.SuperviseMission.Biz.WorkFlow.WorkFlowHelper,OA30.SuperviseMission.Biz.WorkFlow" />
    <add key="OA30.SuperviseMission.Common.Interface.Mission.ISuperviseMissionBody" value="OA30.SuperviseMission.Biz.SuperviseMissionBodyBiz,OA30.SuperviseMission.Biz" />
    <add key="OA30.SuperviseMission.Common.Interface.Mission.ISuperviseMissionFormManage" value="OA30.SuperviseMission.Biz.SuperviseMissionFormManageBiz,OA30.SuperviseMission.Biz" />
 
  </appSettings>
</configuration>
