<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />-->
          <!--<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
          <!--<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
          <!--<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RequestVerification" value ="1"/>
    <!-- DebugMode为0时，不显示错误信息，为1时显示错误信息-->
    <add key="DebugMode" value="1"/>
    <!-- 定时调度注册 -->
    <add key="AssemblysNeedTimingCall" value="OA30.LogCenter.Client,OA30.LogCenter.Client.DispatcherCallEntrance,MethodForDispatcherCall"/>
    <!-- 统一日志中心日志提交地址 -->
    <add key="TextLogServerUrl" value="tcp://10.95.28.3:9210/OA30.LogCenter.LogService.ExceptionLogs.ExceptionLogTreatment.OA"/>
    <!-- 是否为外网网站，1为外网网站，0为内网网站 -->
    <add key="IsInternetWebSite" value="0" />
    <!-- 文件存储方式[0:windows共享；1:web共享]-->
    <add key="FileAccessType" value="1" />
    <!-- 文件服务器的用户名及密码-->
    <add key="FileServerUserName" value="55e1ee3013cbe898"/>
    <add key="FileServerPassword" value="b62c0ea07199202528c496d476203961"/>
    <!-- web共享相关的链接-->
    <add key="FileWebShareUrl" value="http://10.79.7.37/file/" />
    <!-- windows共享相关的链接-->
    <add key="FileWindowsShareUrl" value="\\10.79.7.37\file\" />
    <!-- web服务器使用的临时文件目录 -->
    <add key="WebServerTmpFileFolder" value="TempFiles" />
    <!-- 用户图片签名-->
    <add key="EnableUserSign" value="true" />
    <add key="UserSignUrl" value="http://10.79.7.37/UserSign/" />
    <!-- 公文模版 -->
    <add key="TemplateUrl" value="http://10.79.7.37/FileTemplate/"/>
    <!-- 附件的最大尺寸（字节） -->
    <add key="MaxAttachmentSize" value="12580000" />
    <!-- 督查附件存放位置-->
    <add key="SuperviseMissionAttachmentUrl" value="http://10.79.7.37/SuperviseMission/" />
    <!-- 自动检查存储过程参数合法，当value=1时开启 -->
    <add key="AutoCheckSPParameter" value="1"/>
    <!-- 在线用户的内存服务器 -->
    <add key="OnLineUserServer" value="tcp://10.79.7.48:9100/OA30.BIZ.OAMemcached.OnlineUser.OA" />
    <add key="PerformanceRecordSaveUrl" value="tcp://10.79.7.48:9100/OA30.BIZ.OAMemcached.PerformanceRawRecord.OA" />
    <add key="FreeFlowPersonalAddressBufferServer" value="tcp://10.79.7.48:9102/OA30.BIZ.OASessionService.ReadOnlyBuffer.OAPersonalAddressBuffer.OA" />
    <add key="DeptInfoBufferServer" value="tcp://10.79.7.48:9102/OA30.BIZ.OASessionService.ReadOnlyBuffer.DeptInfoBuffer.OA" />
    <add key="EmployeeBufferServer" value="tcp://10.79.7.48:9102/OA30.BIZ.OASessionService.ReadOnlyBuffer.EmployeeBuffer.OA" />
    <!-- 当前服务器的编码 -->
    <add key="ServerCode" value="WM1" />
    <!-- SSO2.0相关的配置S -->
    <!-- 是否启用拓尔思SSO -->
    <add key="EnableTRSSSO" value="1" />
    <add key="EnableTRSSSOTrace" value="0" />
    <add key="EnableOATRSSSOTrace" value="0" />
    <!-- 票据的有效时间（小时），该配置在移动OA已启用，需注意不要重复 -->
    <add key="FormTicketLifeTime" value="24"/>
    <!-- SSO2.0相关的配置E -->
  </appSettings>
  <system.web>
    <compilation debug="true" >
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>


    <!--通过 <authentication> 节可以配置 ASP.NET 用来识别进入用户的安全身份验证模式。-->
    <!--<authentication mode="Windows"></authentication>-->      
    <authentication mode="Forms">
      <forms name="OAForm"  defaultUrl="MainPage.aspx" timeout="10000" loginUrl="/login.aspx" protection="Encryption">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization> 
     <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="zh-CN" culture="zh-CN" />
     <!-- 为了解决多台服务器共享认证票据和UserInfo会话信息，服务器使用相同的密钥【wk：2011-09-06】 --> 
    <machineKey validationKey="DAC710344B98B78622B438B0D0EFC849C268D885F7338A3A2DADBCB81774711002B6322D38DBA03C64EEF2887E82B5095B5035FE21C42AA73DD6079DDBFE6EAE" decryptionKey="4327AD19BD9B11E6C89B21094002BBAAF7B25DC63E72EE3E" validation="SHA1">
    </machineKey>
    <!-- maxRequestLength用于控制上传的附件最大的大小，KB为单位 -->
    <httpRuntime maxRequestLength="12300" />
    <!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <sessionState mode="InProc" cookieless="false" timeout="20" cookieName="SMSessionID" regenerateExpiredSessionId="true" />
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location  path="WebServices/SuperviseMissionWebServices.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--json的单位为字节-->
        <jsonSerialization maxJsonLength="10240000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
