<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>系统管理-自定义授权</title>
    <meta name="description" content="博霖教育后台数据管理" />
    <meta name="keywords" content="博霖教育|学历报考中心|学历提升|广东省成人学历报名中心" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />

    <link rel="stylesheet" type="text/css" href="css/custom.css" />

  </head>
  <body>
    <div class="app">
      <!-- 条件搜索 -->
      <div class="layui-form search">
        <div class="layui-form-item layui-card">
          <div class="layui-inline">
            <label class="layui-form-label">员工查询</label>
            <div class="layui-input-block">
              <input type="text" name="position" id="position" placeholder="请输入查询的员工" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit="" lay-filter="formSearch">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- add -->
      <div class="paddings">
        <button type="button" style="margin-left: 25px;" class="layui-btn layui-add">添加员工</button>
      </div>
      <!-- 校区列表table -->
      <table class="layui-table" id="mytable" lay-filter="mytable"></table>

    </div>


    <!-- 添加职位 -->
    <div class="add-section">
      <form action="" id="addposition" class="layui-form" method="post" lay-filter="addstaff">
        <div class="layui-form-item">
          <label class="layui-form-label">员工姓名</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required" name="userName" id="" class="layui-input" value="" placeholder="请输入部门名称" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">昵称</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required" name="nickname" id="" class="layui-input" value="" placeholder="请输入部门名称" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别</label>
          <div class="layui-input-block">
            <input type="radio" name="gender" value="男" title="男">
            <input type="radio" name="gender" value="女" title="女">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required|phone" maxlength="11" name="telPhone" id="" class="layui-input"
              value="" placeholder="请输入部门名称" />
          </div>
        </div><!-- 
        <div class="layui-form-item">
          <label class="layui-form-label">用户类型</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required" name="userType" id="" class="layui-input" value="" placeholder="请输入部门名称" />
          </div>
        </div> -->
        <div class="layui-form-item">
          <lable class="layui-form-label">员工介绍</lable>
          <div class="layui-input-block">
            <textarea type="text" name="remark" lay-verify="required" autocomplete="off" class="layui-textarea layui-form-danger"></textarea>
          </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
          <button class="layui-btn" lay-submit="" lay-filter="addstaff">保存</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </form>
    </div>
    
    <!-- 员工授权 -->
    <div class="authorization" style="display: none;padding: 10px 20px 20px 0px;">
      <form action="" id="authorization" class="layui-form" method="post" lay-filter="authorization">
        <div class="layui-form-item">
          <label class="layui-form-label">员工 ID</label>
          <div class="layui-input-block">
            <input type="text" lay-verify="required" name="id" id="" class="layui-input" value="" placeholder="请输入部门名称" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">绑定职位</label>
          <!--   resource_id  -->
          <div class="layui-input-block" id="resourceId">
            <select name="roleId" lay-filter="roleId" id="roleId" lay-verify="required">
              <option value="">请输入</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
          <button class="layui-btn" lay-submit="" lay-filter="authorization">保存</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </form>
    </div>




    <!-- 表头数据操作 -->
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <!-- <button class="layui-btn layui-icon layui-icon-add-1 layui-btn-sm " lay-event="add">添加</button> -->
         <button class="layui-btn layui-btn-danger layui-icon layui-icon-delete layui-btn-sm " lay-event="delete">删除</button>
         <!-- <button class="layui-btn layui-icon layui-icon-export layui-btn-sm " id="export" lay-event="add">导出Excel</button> -->
         
       </div>
     </script>

    <!-- 行数据操作 -->
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-bg-green layui-btn-primary layui-btn-xs" lay-event="detail">
         <i class="layui-icon layui-icon-share layuiadmin-button-btn"></i>
         授权
       </a>
       <a class="layui-btn layui-btn-xs" lay-event="edit">
         <i class="layui-icon layui-icon-edit"></i>
         编辑
       </a>
       <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
         <i class="layui-icon layui-icon-delete"></i>删除
       </a>
     </script>






    <script src="../../layuiadmin/js/jquery.js"></script>
    <script src="../../layuiadmin/layui/layui.all.js"></script>
    <script src="../../layuiadmin/js/common.js"></script>
    <script type="text/javascript">
      var laydate = layui.laydate;
      var form = layui.form;
      var table = layui.table;
      var element = layui.element //元素操作
      var laypage = layui.laypage //分页
      upload = layui.upload;

      baseUrl = "https://www.easy-mock.com/mock/5d27f8f02d663532e5cdb43d/pan";


      // 添加员工
      $('.layui-add').on('click', function() {
        clearForm('#addposition') //清空表单
        layer.open({
          title: '添加员工',
          type: 1,
          content: $('.add-section'),
          area: ['600px', '600px']
        })
      })


     //获取所有的职位(角色)
      getRole()
     function getRole(){
       $.ajax({
         type: 'get',
         url: baseUrl+'/role/',
         success: function(data) {
           var data = data.data;
           
           showOption3(data,'#roleId','roleId','roleName')
           console.log(data)
         }
       })
     }
     

      //监听表单提交
      form.on('submit(formSearch)', function(data) {
        // layer.msg(JSON.stringify(data.field));
        // alert(JSON.stringify(data.field))
        //ajax 发送数据
        $.ajax({
          type: 'post',
          url: baseUrl,
          data: {
            data: JSON.stringify(data.field)
          },
          success: function(data) {
            console.log(data)
            layer.alert('提交成功', {
              icon: 1
            }, function() {
              layer.closeAll();
            });
            //重新渲染表格
            mytable.reload()
            //清空表单
          }
        });

        return false;
      });


      //监听添加表单提交
      form.on('submit(addstaff)', function(data) {
        console.log(data)
        //提交表单
        layer.confirm('确定保存?', {
          icon: 3,
          title: '提示'
        }, function(index) {
          //do something
          sendAjax(data, baseUrl + '/upload', suaTable)
          layer.close(index);
        });

        return false;
      })
      
      //监听授权表单提交
      form.on('submit(authorization)', function(data) {
        // var data = data.field;
        console.log(data)
        //提交表单
        layer.confirm('确定授权?', {
          icon: 3,
          title: '提示'
        }, function(index) {
          //do something
          sendAjax(data, baseUrl + '/upload', suaTable)
          layer.close(index);
        });
        
        return false;
      })
      
      //提交的回调函数
      function suaTable() {
        mytable.reload(option);
      }


      //执行一个 table 实例
      var option = {
        elem: '#mytable',
        height: 600,
        id: "mytableId",
        defaultToolbar: [],
        url: baseUrl + '/employee/', //数据接口
        title: '员工表',
        totalRow: true, //开启合计行
        page: true, //开启分页
        toolbar: '#toolbarDemo', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        totalRow: true, //开启合计行
        event: 'tool',
        cols: [
          [ //表头
            {
              type: 'checkbox',
              fixed: 'center',
            },
            {
              field: 'id',
              title: 'ID',
              width: 80,
              sort: true,
              align: 'center'
            },
            {
              field: 'userName',
              title: '姓名',
              align: 'center',
              width: 150
            },
            {
              field: 'nickname',
              title: '昵称',
              align: 'center',
              width: 150
            },
            {
              field: 'password',
              title: '密码',
              align: 'center',
              width: 200
            },
            {
              field: 'gender',
              title: '性别',
              align: 'center',
              width: 100
            },
            {
              field: 'telPhone',
              title: '手机',
              align: 'center',
              width: 210
            },
            {
              field: 'remark',
              title: '备注',
              align: 'center',
              width: 280
            },
            {
              fixed: 'right',
              width: 215,
              align: 'center',
              toolbar: '#barDemo',
            }
          ]
        ]
      }

      var mytable = table.render(option);

      //监听头工具栏事件
      table.on('toolbar(mytable)', function(obj) {
        var checkStatus = table.checkStatus(obj.config.id),
          data = checkStatus.data; //获取选中的数据
        switch (obj.event) {
          case 'add':
            if (data.length === 0) {
              layer.msg('请选择导出数据！');
              // table.exportFile(mytable.config.id,'xls'); 
              console.log(data, obj)
            }
            break;
          case 'update':
            if (data.length === 0) {
              layer.msg('请选择一行');
            } else if (data.length > 1) {
              layer.msg('只能同时编辑一个');
            } else {
              layer.alert('编辑 [id]：' + checkStatus.data[0].id);
              console.log(data)
            }
            break;
          case 'delete':
            if (data.length === 0) {
              layer.msg('请选择一行');
            } else {
              layer.msg('删除');
              //发送请求删除

              var ids = [];
              for (var i = 0; i < data.length; i++) {
                ids.push(data[i].id);
              }
              console.log(data, ids)
              delRow(ids, baseUrl + '/upload', suaTable(mytable, option))
              
            }
            break;
        };
      });

      //监听行工具事件
      table.on('tool(mytable)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值
        if (layEvent === 'detail') {
          // layer.msg('查看操作');
          
          $('#authorization')[0].reset();
          //对表单赋值 roleId resourceId
          form.val("authorization", {
            "id": data.id,
          })
          
          //显示弹框
          layer.open({
            title: '员工授权',
            type: 1,
            content: $('.authorization'),
            area: ['500px', '300px']
          })
         
        } else if (layEvent === 'del') {
          layer.confirm('真的删除行么', function(index) {
            obj.del(); //删除对应行（tr）的DOM结构
            layer.close(index);
            //向服务端发送删除指令
            delRow([1, 2], baseUrl)
          });
        } else if (layEvent === 'edit') {
          layer.msg('编辑操作');
          
          console.log(data)
          //对表单赋值  userName password gender telPhone remark
          form.val("addstaff", {
            "userName": data.userName,
            "password": data.password,
            "gender": data.gender,
            "telPhone": data.telPhone,
            "remark": data.remark,
            "nickname": data.nickname,
          })
          //显示弹框
          layer.open({
            title: '编辑员工',
            type: 1,
            content: $('.add-section'),
            area: ['600px', '520px']
          })

        }
      });
    </script>
  </body>
</html>
