<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>客户管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" type="images/x-icon" href="../layuiadmin/style/res/bolinglink.png">
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
     
    <!--[if lt IE 9]>
		  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script>
			/^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
		</script>
	</head>

	<body class="layui-layout-body">
    
		<div id="LAY_app">
			<div class="layui-layout layui-layout-admin">
				<div class="layui-header">
					<!-- 头部区域 -->
					<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect>
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" target="_blank" title="前台">
								<i class="layui-icon layui-icon-website"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;" layadmin-event="refresh" title="刷新">
								<i class="layui-icon layui-icon-refresh-3"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
						</li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

						<li class="layui-nav-item" lay-unselect>
							<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
								<i class="layui-icon layui-icon-notice"></i>
								<!-- 如果有新消息，则显示小圆点 -->
								<span class="layui-badge-dot"></span>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="">
								<i class="layui-icon layui-icon-theme"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="note">
								<i class="layui-icon layui-icon-note"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="fullscreen">
								<i class="layui-icon layui-icon-screen-full"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;">
								<cite>贤心</cite>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a lay-href="info/info.html">基本资料</a>
								</dd>
								<dd>
									<a lay-href="info/password.html">修改密码</a>
								</dd>
								<hr>
								<dd layadmin-event="" style="text-align: center;">
									<a>退出</a>
								</dd>
							</dl>
						</li>

						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a>

						</li>
						<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
							<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
						</li>
					</ul>
				</div>

				<!-- 侧边菜单 -->
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<div class="layui-logo" lay-href="home/console.html">
							<span>客户管理系统</span>
						</div>
            
						<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
							<li data-name="home" class="layui-nav-item layui-nav-itemed">
								<a href="javascript:;" lay-tips="系统管理" lay-direction="2">
									<i class="layui-icon layui-icon-home"></i>
									<cite>系统管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd data-name="console" class="layui-this">
										<a lay-href="index/index.html">首页</a>
									</dd>
									<dd data-name="console">
										<a lay-href="system/company.html">公司信息</a>
									</dd>
									<dd data-name="console">
										<a lay-href="system/section.html">部门信息</a>
									</dd>
									<dd data-name="console">
										<a lay-href="system/position.html">职位授权</a>
									</dd>
									<dd data-name="console">
										<a lay-href="system/custom.html">自定义授权</a>
									</dd>
                  <dd data-name="console">
                  	<a lay-href="system/jurisdiction.html">权限管理</a>
                  </dd>
								</dl>
							</li>
							<li data-name="component" class="layui-nav-item">
								<a href="javascript:;" lay-tips="导入管理" lay-direction="2">
									<i class="layui-icon layui-icon-component"></i>
									<cite>导入管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd data-name="colorpicker">
										<a lay-href="import/batch.html">批量导入</a>
									</dd>
									<dd data-name="colorpicker">
										<a lay-href="import/single.html">单个录入</a>
									</dd>
								</dl>
							</li>
							<li data-name="template" class="layui-nav-item">
								<a href="javascript:;" lay-tips="分配管理" lay-direction="2">
									<i class="layui-icon layui-icon-template"></i>
									<cite>分配管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="allocation/jurisdiction.html">分配权重设置</a>
									</dd>
									<dd>
										<a lay-href="allocation/assign.html">指定人员设置</a>
									</dd>
								</dl>
							</li>
							<li data-name="app" class="layui-nav-item">
								<a href="javascript:;" lay-tips="推广管理" lay-direction="2">
									<i class="layui-icon layui-icon-app"></i>
									<cite>推广管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="generalize/source-from.html">来源平台</a>
									</dd>
									<dd data-name="workorder">
										<a lay-href="generalize/allocation.html">推广分配</a>
									</dd>
									<dd data-name="workorder">
										<a lay-href="generalize/contract.html">合同管理</a>
									</dd>
									<dd data-name="workorder">
										<a lay-href="generalize/data.html">数据管理</a>
									</dd>
									<dd data-name="workorder">
										<a lay-href="generalize/linksouce.html">链接管理</a>
									</dd>
									<dd data-name="workorder">
										<a lay-href="generalize/account.html">账号管理</a>
									</dd>
								</dl>
							</li>
							<li data-name="senior" class="layui-nav-item">
								<a href="javascript:;" lay-tips="客服管理" lay-direction="2">
									<i class="layui-icon layui-icon-senior"></i>
									<cite>客服管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="service/client.html">客户管理</a>
									</dd>
									<dd>
										<a lay-href="service/map.html">校区映射</a>
									</dd>
								</dl>
							</li>
							<li data-name="user" class="layui-nav-item">
								<a href="javascript:;" lay-tips="客户管理" lay-direction="2">
									<i class="layui-icon layui-icon-user"></i>
									<cite>客户管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="customer/customer-list.html">客户列表</a>
									</dd>
									<dd>
										<a lay-href="customer/private.html">私海客户</a>
									</dd>
									<dd>
										<a lay-href="customer/commonality.html">公海客户</a>
									</dd>
									<dd>
										<a lay-href="customer/subscribe.html">预约客户</a>
									</dd>
									<dd>
										<a lay-href="customer/visit.html">上门客户</a>
									</dd>
									<dd>
										<a lay-href="customer/make.html">成交客户</a>
									</dd>
									<dd>
										<a lay-href="customer/return-money.html">退费客户</a>
									</dd>
									<dd>
										<a lay-href="customer/invalid.html">无效客户</a>
									</dd>
									<dd>
										<a lay-href="customer/path.html">客户轨迹</a>
									</dd>
                </dl>
							</li>
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="我的设置" lay-direction="2">
									<i class="layui-icon layui-icon-set"></i>
									<cite>我的设置</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="info/info.html">基本资料</a>
									</dd>
									<dd>
										<a lay-href="info/password.html">修改密码</a>
									</dd>
								</dl>
							</li>
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="报表管理" lay-direction="2">
									<i class="layui-icon layui-icon-file-b"></i>
									<cite>报表管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="statement/marketing.html">营销报表</a>
									</dd>
									<dd>
										<a lay-href="statement/service.html">客服报表</a>
									</dd>
									<dd>
										<a lay-href="statement/school.html">校区销售报表</a>
									</dd>
									<dd>
										<a lay-href="statement/personage.html">个人销售报表</a>
									</dd>
									<dd>
										<a lay-href="statement/outbound.html">外呼报表</a>
									</dd>
								</dl>
							</li>
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="排班管理" lay-direction="2">
									<i class="layui-icon layui-icon-layouts"></i>
									<cite>排班管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="minClass/classes.html">班次管理</a>
									</dd>
									<dd>
										<a lay-href="minClass/personnel.html">人员排班</a>
									</dd>
								</dl>
							</li>
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="人员映射" lay-direction="2">
									<i class="layui-icon layui-icon-friends"></i>
									<cite>人员映射</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="personMap/TQ.html">TQ管理</a>
									</dd>
									<dd>
										<a lay-href="personMap/phone.html">手机管理</a>
									</dd>
								</dl>
							</li>
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="统计分析" lay-direction="2">
									<i class="layui-icon layui-icon-edit"></i>
									<cite>统计分析</cite>
								</a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="count/customer-analyze.html">客户数据漏斗分析</a>
									</dd>
									<dd>
										<a lay-href="count/generalize-analyze.html">推广数据漏斗分析</a>
									</dd>
									<dd>
										<a lay-href="count/service-analyze.html">客服数据漏斗分析</a>
									</dd>
									<dd>
										<a lay-href="count/link-analyze.html">链接来源分析</a>
									</dd>
									<dd>
										<a lay-href="count/keyword-analyze.html">关键词来源分析</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>

				<!-- 页面标签 -->
				<div class="layadmin-pagetabs" id="LAY_app_tabs">
					<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-down">
						<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
							<li class="layui-nav-item" lay-unselect>
								<a href="javascript:;"></a>
								<dl class="layui-nav-child layui-anim-fadein">
									<dd layadmin-event="closeThisTabs">
										<a href="javascript:;">关闭当前标签页</a>
									</dd>
									<dd layadmin-event="closeOtherTabs">
										<a href="javascript:;">关闭其它标签页</a>
									</dd>
									<dd layadmin-event="closeAllTabs">
										<a href="javascript:;">关闭全部标签页</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
						<ul class="layui-tab-title" id="LAY_app_tabsheader">
							<li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
						</ul>
					</div>
				</div>

				<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe src="index/index.html" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>
        
				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>
			</div>
		</div>
    
    
    <script src="../layuiadmin/js/jquery.js"></script>
		<script src="../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use('index');
      
      
      layui.data('cate', {
       key:'name',
       value:{
         token:'123',
         pw:'123456'
       }
      });

      //取值
      var cate = layui.data('cate');
      console.log(cate.name)
      
     
		</script>

		<!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
    
	</body>

</html>