sub{
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 4px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 4px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 4px;
    color: white;
    cursor: auto;
    display: inline-block;
    float: none;
    font-family: Tahoma, 宋体, Arial, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 0px;
    left: 4px;
    line-height: 0px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 2px;
    vertical-align: middle;
    width: 0px;
}

body{
    /*background:url(/images/pgBg960cEEEEEE.png) center repeat-y #f8f8f8;*/
    background-color:#EEE;
}

.pg-top{
    width:100%;
    height:32px;
    border-bottom:solid 1px #ccc;
    background: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#fafafa, #f0f0f0);
    background-image: -moz-linear-gradient(#fafafa, #f0f0f0);
    background-image: -ms-linear-gradient(#fafafa, #f0f0f0);
    background-image: -o-linear-gradient(#fafafa, #f0f0f0);
    background-image: linear-gradient(#fafafa, #f0f0f0);
}
.pg-top-main{
    width:960px;
    height:32px;
    margin:0px auto;
    vertical-align:middle;
}
.pg-top-main .left{
    float:left;
}
.pg-top-main .left .logo{
    float:left;
}
.pg-top-main .left img{
    height:30px;
}
.pg-top-main .right{
    float:right;
}

#pg-header{
    width:100%;
    background-color:#ddd;
    clear:both;
    padding-top:5px;
}
#pg-header .pg-header-main{
    width:960px;
    height:125px;
    margin:0px auto;
    background:url(/images/school/schoolHeaderBg.png) no-repeat;
}
#pg-header .pg-header-main .img{
    width:960px;
    height:120px;
}
#pg-header .pg-header-main .img .n
{
    float:left;
    height:68px;
    line-height:68px;
    font-size:40px;
    font-family:"华文行楷";
    color:#fff;
    filter:glow(color=#666666,strength=3); /*iE光晕*/
    /*filter:progid:DXImageTransform.Microsoft.MotionBlur(strength=5, direction=145);  /*iE动感模糊*/
    /*filter:progid:DXImageTransform.Microsoft.Shadow(color=#dedede,direction=120,strength=2);/*ie*/
    -moz-text-shadow: 2px 2px 5px #666666; /*firefox*/
    -webkit-text-shadow: 2px 2px 5px #666666; /*safari或chrome*/
    text-shadow:2px 2px 5px #666666; /*opera或ie9*/
    margin-top:20px;
    margin-left:20px;
}
#pg-header .pg-header-main .img .n2
{
    float:left;
    height:68px;
    line-height:68px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    filter:glow(color=#666666,strength=3); /*iE光晕*/
    /*filter:progid:DXImageTransform.Microsoft.MotionBlur(strength=5, direction=145);  /*iE动感模糊*/
    /*filter:progid:DXImageTransform.Microsoft.Shadow(color=#dedede,direction=120,strength=2);/*ie*/
    -moz-text-shadow: 2px 2px 5px #666666; /*firefox*/
    -webkit-text-shadow: 2px 2px 5px #666666; /*safari或chrome*/
    text-shadow:2px 2px 5px #666666; /*opera或ie9*/
    margin-top:25px;
    margin-left:20px;
}

#pg-nav {
    width: 100%;
    
    border-top: solid 1px #0e58dd;
    border-bottom: solid 1px #0e58dd;
    border-color: #0e58dd;
    background: #1a5ad5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2576e2), to(#1a5ad5));
    background-image: -webkit-linear-gradient(#2576e2, #1a5ad5);
    background-image: -moz-linear-gradient(#2576e2, #1a5ad5);
    background-image: -ms-linear-gradient(#2576e2, #1a5ad5);
    background-image: -o-linear-gradient(#2576e2, #1a5ad5);
    background-image: linear-gradient(#2576e2, #1a5ad5);
     /*蔚蓝0D3D85，蓝005cd5，黑342929，深灰666666，蓝008bb4，红b2110e，灰EDEDED，金fecb00，橙fea53d，微软0087c9,微软1570a6,微软115e8c*/
}
#pg-nav ul {
    width: 960px;
    height:36px;
    margin: 0px auto;
    font-weight:bold;
    /* -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);        
    text-shadow: 1px 1px 1px #1b52be;
        */
    color: white;
}
#pg-nav ul li {
    float: left;
    height: 14px;
    line-height: 14px;
    margin-top:10px;
    border-left: solid 1px #1b5dcf;
    border-right: solid 1px #6493e1;
    vertical-align:middle;
    position:relative;
}

#pg-nav .nav-title a {
    text-decoration:none;
    color:white;    
    font-size: 14px;
    float: left;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align:middle;
}

.footerOuter{    border-top:solid 1px #e0e0e0;}
.footer{    border-top:solid 0px #e0e0e0;}
.footer .contact{    width:200px;    float:left;    text-align:center;    padding-bottom:10px;    background:url(/images/footer-contact-icon.png) center top no-repeat;}
.footer .contact span{ display:block; color:#999; }
.footer .footerBlock{    width:180px;    float:left;    padding-bottom:10px;    border-left:dotted 1px #ccc;}
.footer .footerBlock span{ display:block; font-size:14px; font-weight:bold; color:#888; }
.footer .footerBlock a{ display:block; color:#999; }



.pageMainContentContainer
{
    width:100%;
    min-width:960px;
    background-color:#fff;
    padding-bottom:20px;
}
.bodyBlockOuter{
    width:100%;
    min-width:960px;
    background-color:#fff;
}
.bodyBlock{
    width:960px;
    min-width:960px;
    margin:0px auto;
    padding-top:10px;
}
.bodyBlockLeft{
    width:715px;
    float:left;
    border:solid 0px #999;
}
.bodyBlockRight{
    width:230px;
    float:right;
    border:solid 0px #999;
}



.loginBox{
    width:218px;
    height:240px;
    float:left;
    background-color:#dff1ff;
    background: #dff1ff;
    border:solid 1px #a9cbe8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff1ff), to(#e3f3ff));
    background-image: -webkit-linear-gradient(#dff1ff, #e3f3ff);
    background-image: -moz-linear-gradient(#dff1ff, #e3f3ff);
    background-image: -ms-linear-gradient(#dff1ff, #e3f3ff);
    background-image: -o-linear-gradient(#dff1ff, #e3f3ff);
    background-image: linear-gradient(#dff1ff, #e3f3ff);
}
.loginBoxInner{
}
.loginBoxInner tr td{
    padding-top:3px;
    padding-bottom:3px;
}
.loginBoxInner tr td.title{
    font-size:14px;
    font-weight:bold;
    padding-top:12px;
    padding-bottom:3px;
}
.loginBoxInner tr td .inputText{
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #CCC;
    color: black;
    background-color: #FEFEFE;
    vertical-align: middle;
    outline: none;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    background:#FEFEFE url(/images/school/loginBoxIcon.png) no-repeat;
    text-indent:22px;
    margin-top:5px;
    margin-bottom:5px;
}
.loginBoxInner tr td .inputText.account{
    background-position-y:6px;
}
.loginBoxInner tr td .inputText.password{
    text-indent:22px;
    text-align:left;
    background-position-y:-27px;
}
.loginBoxInner .JBodyValidatorErrorExtendFlash input, 
.loginBoxInner input.JBodyValidatorErrorExtendFlash
{
    border:solid 1px #ff0000;
}
.loginBoxInner .JBodyValidatorErrorExtendFlash2 input, 
.loginBoxInner input.JBodyValidatorErrorExtendFlash2{
    border:solid 1px #ff9900;
}
.JBodyValidatorErrorExtendFlash3{
    border:solid 1px #ff0000;
}
.JBodyValidatorErrorExtendFlash4{
    border:solid 1px #ff9900;
}



.bodyBlockRight .notic{
    width:222px;
    height:234px;
    background-color:#f3f3f3;
    border:solid 4px #e0e0e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f3f3f3));
    background-image: -webkit-linear-gradient(#fcfcfc, #f3f3f3);
    background-image: -moz-linear-gradient(#fcfcfc, #f3f3f3);
    background-image: -ms-linear-gradient(#fcfcfc, #f3f3f3);
    background-image: -o-linear-gradient(#fcfcfc, #f3f3f3);
    background-image: linear-gradient(#fcfcfc, #f3f3f3);
}
.bodyBlockRight .notic .tt{
    height:36px;
    line-height:36px;
    width:205px;
    display:block;
    margin-left:8px;
    font-size:14px;
    text-indent:5px;
    font-weight:bold;
    border-bottom:dashed 1px #ddd;
    color:#333;
}
.bodyBlockRight .notic .tt:hover{
    color:#1a5ad5;
    text-decoration:underline;
}
.bodyBlockRight .notic ul{
    float:left;
    margin-top:8px;
}
.bodyBlockRight .notic ul li{
    width:222px;
    height:30px;
    line-height:30px;
    overflow:hidden;
    background:url(/images/school/ulListStyle.png) no-repeat;
    background-position-x:12px;
    background-position-y:14px;
    text-indent:21px;
}
.bodyBlockRight .notic ul li a{
    color:#3d3d3d;
}
.bodyBlockRight .notic ul li a:hover{
    color:#ff0000;
}

/*-- banner start ---*/
.bodyBlockLeft .banner{
    width:480px;
    height:240px;
    float:right;
    border:solid 1px #eee;
}
.bodyBlockLeft .bannerInner{
    width:480px;
    height:240px;
    position:relative;
    z-index:1;
}
.bodyBlockLeft .bannerInner .tags{
    width:480px;
    height:20px;
    position:absolute;
    z-index:3;
    top:215px;
    left:0px;
}
.bodyBlockLeft .bannerInner .tags div{
    width:475px;
    text-align:right;
}
.bodyBlockLeft .bannerInner .tags div span{
    background-color:rgba(190,190,190,.8);
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    margin-left:1px;
    cursor:default;
}
.bodyBlockLeft .bannerInner .tags div span.act{
    background-color:rgba(255,85,0,.8);
    color:white;
}
.bodyBlockLeft .bannerInner .pics{
    width:480px;
    height:240px;
}
.bodyBlockLeft .bannerInner .pics img{
    width:480px;
    height:240px;
}
/*-- banner end ---*/

.bodyBlockRight .rightBlock{
    width:100%;
    background-color:#edf7ff;
    padding-bottom:10px;
    clear:both;
}
.bodyBlockRight .rightBlock .title{
    height:55px;
    line-height:55px;
    float:left;
    width:200px;
    margin-left:5px;
    background:url(/images/school/schoolIndexTitle.png) no-repeat;
    background-position-x:3px;    
    padding-left:55px;
    font-size:16px;
    font-weight:bold;
}

.blockTabTitles{
    clear:both;
}
.blockTabTitles .item{
    height:38px;
    line-height:38px;
    font-size:18px;
    font-weight:bold;
    background-color:#f5f5f5;
    float:left;
    border-right:solid 1px #e0e0e0;
    border-top:solid 1px #e0e0e0;
    text-align:center;
}
.blockTabTitles .item.active{
    background-color:#2f79dc;
    border-right:solid 1px #2f79dc;
    border-top:solid 1px #2f79dc;
    color:white;
}
.blockTitle{
    width:100%;
    height:40px;
    line-height:40px;
    font-size:18px;
    font-weight:bold;
    text-indent:30px;
    background:#ecf5fc url(/images/school/schoolIndexTitle.png) no-repeat;
    background-position-x:8px; 
    background-position-y:3px; 
}
.blockTitle.blockTitle2{
    border-top:solid 4px #2f79dc;
    margin-top:5px;
}

.blockOfSchoolSubj{

}
.blockOfSchoolSubj .subj{
    float:left;
    height:26px;
    line-height:26px;
    padding-left:8px;
    padding-right:8px;
    margin-left:8px;
    margin-top:8px;
    border:dashed 1px #ddd;
    background-color:#f5f5f5;
    color:#333;
}
.blockOfSchoolSubj .subj:hover{    
    background-color:#dff6ff;
    border:dashed 1px #aaa;
    color:#ff6000;
}

/*------ jobList start ---------*/
.jobList{
    width:690px;
    margin-left:8px;
    margin-top:8px;
}
.jobList a.onejob{
    width:100%;
    height:66px;
    display:block;
    border-bottom:dashed 1px #ccc;
    color:#333;
}
.jobList a.onejob:hover{
    background-color:#f5f5f5;
}
.jobList a.onejob span{
    display:block;
    float:left;
}
.jobList a.onejob span.t{
    margin-left:10px;
    font-size:14px;
    font-weight:bold;
    color:#058100;
    margin-top:5px;
    height:30px;
    line-height:30px;
}
.jobList a.onejob:hover span.t{ text-decoration:underline; color:#f25302;}
.jobList a.onejob span tt{ color:#aaa; padding-right:3px; font-weight:normal;}
.jobList a.onejob span.cmp{ width:330px; margin-left:10px;}
.jobList a.onejob span.addr{ width:180px;}
.jobList a.onejob span.dt{ color:#ff9900; font-weight:bold;}
/*-- jobList end ----*/
/*------ fairsList start ---------*/
.fairsList{
    width:690px;
    margin-left:8px;
    margin-top:8px;
}
.fairsList a{
    width:100%;
    height:66px;
    display:block;
    border-bottom:dashed 1px #ccc;
    color:#333;
}
.fairsList a:hover{
    background-color:#f5f5f5;
}
.fairsList a span{
    display:block;
    float:left;
}
.fairsList a span.t{
    margin-left:10px;
    font-size:16px;
    font-weight:bold;
    color:#058100;
    margin-top:5px;
    height:30px;
    line-height:30px;
}
.fairsList a:hover span.t{ text-decoration:underline; color:#f25302;}
.fairsList a span tt{ color:#aaa; padding-right:3px; font-weight:normal;}
.fairsList a span.time{ width:260px; margin-left:10px; overflow:hidden; }
.fairsList a span.addr{ width:260px; margin-left:10px; overflow:hidden;}
.fairsList a span.dt{ color:#ff9900; font-weight:bold;  margin-left:10px; }
/*-- fairsList end ----*/


.rightBlock .linklist{
    margin-top:5px;
}
.rightBlock .linklist a{
    display:block;
    height:26px;
    width:100%;
    line-height:26px;
    color:#333;
}
.rightBlock .linklist a:hover span{
    color:#f35202;
    text-decoration:underline;
}
.rightBlock .linklist a tt{
    display:block;
    float:left;
    height:12px;
    line-height:12px;
    font-size:12px;
    padding:5px;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    margin-left:15px;
    color:white;
}
.rightBlock .linklist.linklistblue a tt{
    background-color:#2577e3;
}
.rightBlock .linklist.linklistorange a tt{
    background-color:#f35202;
}
.rightBlock .linklist a span{
    display:block;
    margin-left:5px;
    float:left;
    width:185px;
    height:32px;
    overflow:hidden;
}
.rightBlock .title{
    color:#333;
}
.rightBlock a.title:hover{
    color:#f35202;
}

.rightBlock.friendLisks .link{
    float:left;
    height:26px;
    line-height:26px;
    padding-left:8px;
    padding-right:8px;
    margin-left:8px;
    margin-top:8px;
    border:dashed 1px #ddd;
    background-color:#f5f5f5;
    color:#333;
}
.rightBlock.friendLisks .link:hover{    
    background-color:#dff6ff;
    border:dashed 1px #aaa;
    color:#ff6000;
}

.bodyBlockLeft .coopCompanys{}
.bodyBlockLeft .coopCompanys a{
    display:block;
    width:150px;
    height:60px;
    float:left;
    margin-left:20px;
    margin-top:20px;
    border:solid 1px #eee;
}
.bodyBlockLeft .coopCompanys a img{
    width:150px;
    height:60px;
}

/* ListTitleBanner start */
.bodyBlockLeft .listTitleBanner1{ background:url(/images/school/banner/schlbn1.png) no-repeat; }
.bodyBlockLeft .listTitleBanner2{ background:url(/images/school/banner/schlbn2.png) no-repeat; }
.bodyBlockLeft .listTitleBanner3{ background:url(/images/school/banner/schlbn3.png) no-repeat; }
.bodyBlockLeft .listTitleBanner4{ background:url(/images/school/banner/schlbn4.png) no-repeat; }
.bodyBlockLeft .listTitleBanner5{ background:url(/images/school/banner/schlbn5.png) no-repeat; }
.bodyBlockLeft .listTitleBanner6{ background:url(/images/school/banner/schlbn6.png) no-repeat; }
.bodyBlockLeft .listTitleBanner7{ background:url(/images/school/banner/schlbn7.png) no-repeat; }
.bodyBlockLeft .listTitleBanner8{ background:url(/images/school/banner/schlbn8.png) no-repeat; }
.bodyBlockLeft .listTitleBanner9{ background:url(/images/school/banner/schlbn9.png) no-repeat; }
.bodyBlockLeft .listTitleBanner10{ background:url(/images/school/banner/schlbn10.png) no-repeat; }
.bodyBlockLeft .listTitleBanner11{ background:url(/images/school/banner/schlbn11.png) no-repeat; }
.bodyBlockLeft .listTitleBanner12{ background:url(/images/school/banner/schlbn12.png) no-repeat; }
.bodyBlockLeft .listTitleBannerA {
    height:60px;
    background-position: top left;
}
.bodyBlockLeft .listTitleBannerB{
    background-position: -1px -64px;
}
.bodyBlockLeft .listTitleBannerB .blockTitle{
    background:rgba(236,245,252,0.9) url(http://localhost:2547/images/school/schoolIndexTitle.png) no-repeat;
}
/* ListTitleBanner end */

/* 列表页 */
.leftList .leftListItem{
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:5px;
    margin-right:5px;
    border-bottom:dashed 1px #ccc;
}
.leftList .leftListItem:hover{
    background-color:#f8f8f8;
}
.leftList .leftListItem span{
    display:block;
}
.leftList .leftListItem .title{
    line-height:20px;
    font-size:16px;
    font-weight:bold;
    margin-left:10px;
    color:#0b52b1;
    background:url(/images/school/ulListStyle.png) 0px 8px no-repeat;
    text-indent:12px;
}
.leftList .leftListItem:hover .title{
    text-decoration:underline;
}
.leftList .leftListItem .resu{
    width:95%;
    padding-top:5px;
    padding-left:22px;
    color:#888;
    line-height:20px;
}
.leftList .leftListItem:hover .resu {
    text-decoration: underline;
}
.leftList .leftListItem .sourceType{
    color:#9abae5;
}
.leftList .leftListItem .dt{
    color:#999;
}

.bgWhite,.bgWihte{
    background-color:white;
}


.detailPageTitle{
    padding:30px;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}
.detailPageContent{
    padding:30px;
    line-height:32px;
    font-size:16px;
    text-indent:28px;
}
.detailPageContent p{
    margin-top:20px;
}
.detailPageInfos{
    background-color:#eee;
    width:95%;
    margin:0 auto;
    text-align:center;
}
.detailPageInfos span{
    padding:5px;
}


/**/
.crumbsLinks{
    border:solid 1px #f3f3f3;
    height:40px;
    line-height:40px;
    background-color:#f9f9f9;
}
.crumbsLinks a{
    margin-left:5px;
    color:#1a5ad5;
}
.crumbsLinks a:hover{
    color:#1a5ad5;
    text-decoration:underline;
}
.crumbsLinks span{
    margin-left:5px;
}

/* PageNaver start */
.allpage_num{ float:left; height: 18px; line-height:18px; margin-top:10px; padding:2px 0;}
.page_num{ color:#333333; border: 1px solid #CCCCCC; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; -moz-border-radius:2px; border-radius:2px; display: inline; float: left; height: 18px; line-height:18px; margin-left: 4px; padding: 2px 8px; text-align: center; text-decoration:none;margin-top:10px;}
.page_num:hover{ color:#ffffff; background-color:#0e66c8; border:solid 1px #0e66c8; }
.page_current,.page_ellipsis{ color:#ffffff; border: 1px solid #0e66c8;background-color:#0e66c8; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; -moz-border-radius:2px; border-radius:2px; display: inline; float: left; height: 18px; line-height:18px; margin-left: 4px; padding: 2px 8px; text-align: center; text-decoration:none;margin-top:10px;}
/* PageNaver end */