<%- include header %>
	<div class="page">
		<div class="menu-part">
			<%- include face %>
			<%- include leftMenu %>
		</div>
		<div class="iframe-part">
			<iframe src="index.html" name="view-frame" id="main" frameborder="0" width="100%" style="min-height:600px;width:100%;height:100%;"></iframe>
		</div>
	</div>
	
<%- include footer %>
