<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>404页面</title>
    <meta name="description" content="博霖教育后台数据管理" />
    <meta name="keywords" content="博霖教育|学历报考中心|学历提升|广东省成人学历报名中心" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../layuiadmin/style/admin.css"/>
  </head>
  <body>
    <div class="app">
      <div class="layadmin-tips">
        <i class="layui-icon" face=""></i>
        <div class="layui-text">
          <h1>
            <span class="layui-anim layui-anim-loop layui-anim-">4</span>
            <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
            <span class="layui-anim layui-anim-loop layui-anim-">4</span>
          </h1>
        </div>
      </div>
    </div>

    <script src="../../layuiadmin/js/jquery.js"></script>
    <script src="../../layuiadmin/layui/layui.all.js"></script>
    <script>
    
    </script>
  </body>

</html>
