#header{
	width: 100%;
	border-bottom: 5px inset #d2d2cf;
}
body{
	background-color: #FFFFFF;
}
.header{
	height: 90px;
	width: 1200px;
	margin: 0 auto;
	line-height: 90px;
}
.red{
	color: #ed4141;
	font-size: 24px;
	margin-left: 10px;
}
.header .right{
	font-size: 18px;
}
.header .right span{
	color: #999999;
}
.header .right a:hover{
	text-decoration: underline;
}

/*右侧进度信息导航条*/
.stepbox{
	position: fixed;
	right: 60px;
	top: 160px;
	width: 160px;
	height: 252px;
	z-index: 50;
}
.goin{
	position: absolute;
	top: -50px;
	right: 50px;
	width: 200px;
	text-align: center;
	border-radius: 30px;
	border: 1px solid #ed4040;
}
.goin>a{
	color: #ed4040;
	display: block;
	padding: 8px 0px;
	letter-spacing: 2px;
}
.stepbox .left{
	width: 8px;
	height: 100%;
	position: relative;
	overflow: visible;
}
.stepbox .left .t1,.stepbox .left .t2{
	position: relative;
	width: 100%;
	height: 50%;
	overflow: visible;
	background-color: #999;
}
.stepbox .left .bgred{
	background-color: red;
}

.t1s,.t2s,.t3s{
	position: absolute;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: 800;
	background-color: #999999;
}
.t1s{
	left: -6px;
	top: -4px;
}
.t2s{
	left: -6px;
	top: -14px;
}
.t3s{
	left: -6px;
	bottom: -4px;
}
.tored {
	background-color: red;
	color: #fff;
}
.stepbox .right{
	width: 146px;
	height: 100%;
	padding-left: 14px;
	position: relative;
}
.msg1,.msg2,.msg3{
	position: absolute;
}

.msg1{
	left: 15px;
	top: -3px;
}
.msg2{
	left: 15px;
	top: 113px;
}
.msg3{
	left: 15px;
	bottom: -3px;
}

/*注册框*/
#register{
	width: 100%;
}
#register .myform{
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	margin: 0 auto;
}
#register .myform .top {
	width: 300px;
	padding: 20px 20px;
	margin: 0 auto;
}
#register .myform .top a{
	display: block;
	font-size: 17px;
	padding: 10px 5px;
}
#register .myform .top a.active{
	font-weight: 800;
	border-bottom: 2px solid #333333;
}

.info,.school,.contract {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0px;
}
h2.msg{
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 15px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #f5f5f5;
	border-left: 5px solid #ed4141;
}
.line{
	margin-bottom: 36px;
}
.line .left,.line .right{
	display: inline-block;
}
.line .left{
	width: 320px;
	text-align: right;
	height: auto;
	position: relative;
}

.line .right{
	width: 670px;
}
.line .right input{
	height: 36px;
	width: 362px;
	line-height: 36px;
}
.line .box{
	width: 160px;
	height:90px;
	border: 1px solid #CCCCCC;
	margin-right: 30px;
	display: inline-block;
	position: relative;
}
.imgContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #fff;
}
.line .box img{
	display: block;
	width: 100%;
	height:100%;
	cursor: pointer;
}
.line .imgbox {
	position: relative;
}
.line .imgbox img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.line .box input.file{
	display: block;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2;
}
.line span.mt{
	position: absolute;
	right: 0px;
	top: -75px;
}
.prompt{
	color: #999999;
}
.prompt p{
	font:italic 12px/20px arial,sans-serif;
}
hr.hrline1{
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #999999;
}
.line .right input.licenseType{
	width: 20px;
	height: 20px;
	margin: 0px 10px;
}
.contract .line button,.contract .line .button {
	width: 159px;
	height: 39px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #999999;
	border-radius: 10px;
	background-color: #fff;
	margin-right: 15px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.contract .line .active {
	background-color: #666666;
	color: #fff;
}
/*上传图片轮波图*/
.contract .line .swiperbox{
	height: 160px;
	width: 401px;
	position: relative;
	overflow: hidden;
}
.swiperbox>ul{
	min-width: 1401px;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.swiperbox>ul li{
	width: 120px;
	height: 160px;
	float: left;
	margin-right: 13px;
	position:relative;
}
.swiperbox>ul li img{
	width: 100%;
	height: 100%;
}
.swiperbox>ul li span.delete{
	position: absolute;
	right: 0px;
	display: block;
	width:42px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	background-color: #000000;
	color: #fff;
	border-bottom-left-radius: 7px;
	opacity: 0.8;
	cursor: pointer;
}
.swiperbox .next,.swiperbox .prev{
	width: 33px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	position: absolute;
	z-index: 4;
	cursor: pointer;
}
.swiperbox .next{
	left: -34px;
	top: 58px;
}
.swiperbox .prev{
	right: -34px;
	top: 58px;
}
.swiperbox .next i,.swiperbox .prev i{
	font-size: 24px;
}
#filehettong{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
}

.contract .line button.submit{
	width: 360px;
	height: 48px;
	text-align: center;
	background-color: #ED4141;
	color: #fff;
	letter-spacing: 3px;
	font-size: 15px;
}

/*页面尾部*/
#footer {
	height: 130px;
	border-top: 2px solid #CCCCCC;
}
.footer{
	width: 1200px;
	margin: 0 auto;
}
.footer p{
	text-align: center;
	padding: 30px;
}
