.motai{position: fixed;width: 100%;height: 100%;background-color: #000000;opacity: 0.3;}
.myform{position: fixed;top: 0px;left: 0px;bottom: 0px;right: 0px;margin: auto;z-index: 2;width: 460px;height: 520px;padding: 0px 25px;background-color: #fff}
.myform h2{height: 62px;line-height: 62px;border-bottom: 2px solid #f9f9f9;}
.myform h2 img{margin-top: 22px;cursor: pointer;}
.formbox{width: 100%;height: 458px;padding: 0px 25px;}
.one{height: 65px;}
.one a{display: block;font-size: 16px;color: #000000;margin-top: 30px;}
.one a:hover{color: #ED4141;}
.inp input,.inp2 input{
	display: block;
	width: 100%;height: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #999999;
	color: #333333;
	border-radius: 4px;
	background-color: #fff;
}
.inp2 input{margin-top: 30px;}
.inp2 {position: relative;}
.inp2 a{display: block;position: absolute;right: 15px;top: 10px;}
.miss{color: #1EACF5;}
.submit{height: 40px;line-height: 40px;display: block;width: 100%;text-align: center;letter-spacing: 5px;color: #fff;background-color: #ED4141;font-size: 18px;border-radius: 4px;margin-top: 50px;}
.zuce{height: 89px;line-height: 89px;text-align: center;}
.gr{color: #1EACF5;text-decoration: underline;}
.wx{
	height: 40px;
	width: 100%;
	border: 1px solid #999;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;

}
.wx img{margin-right: 10px;}
input:focus{border: 1px solid #1EACF5;}