<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>系统集成管理工程师模拟试题</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content="广州博霖教育科技有限公司是广州入户定点合作机构，公司成立至今一直致力于国家职业资格技能培训和学历教育培训，同时提供职业规划、就业指导、学历教育、入户广州等专项人才服务的教育培训机构，公司本着创新、共赢、和谐、以人为本集于一体的服务理念，得到了社会的一致好评与认可。" />
    <meta name="keywords" content="博霖教育|入户广州|学历提升|入户咨询中心|如何入户广州|广州入户最新政策|广州入户|如何快速入户广州|广州入户办理流程|广州入户办理|广州入户条件" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="images/x-icon" href="../../img/bolinglink.png">
    <link rel="stylesheet" type="text/css" href="../../ku/layui/css/layui.css" />
      
    <!-- <script src="../js/changHtmlFontSize.js"></script> -->
    <script type="text/javascript">
      function goPAGE() {
        if ((navigator.userAgent.match(
            /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
          ))) {
          var link = document.createElement('link');
          link.href = 'css/model_test_moble.css';
          link.rel = 'stylesheet';
          link.type = 'text/css';
          document.getElementsByTagName('head').item(0).appendChild(link);
        } else {
          var link = document.createElement('link');
          link.href = 'css/model-test.css';
          link.rel = 'stylesheet';
          link.type = 'text/css';
          document.getElementsByTagName('head').item(0).appendChild(link);
          console.log("pc")
        }
      }
      goPAGE();
    </script>
  </head>
  <body>

  <div class="app">
    <div class="container box">
      <h1>系统集成管理工程师模拟试题</h1>
      <p class="base">测试基本信息  :</p>
      <div class="formbox">
        <form action="" class="layui-form" method="post">
        	<div class="layui-form-item">
            <label class="layui-form-label">您的姓名</label>
            <div class="layui-input-block">
              <input type="text" name="username" lay-verify="required"  maxlength="20"  autocomplete="off" placeholder="请填写您的姓名" class="layui-input">
            </div>
          </div>
        	<div class="layui-form-item">
        	  <label class="layui-form-label">手机号码</label>
        	  <div class="layui-input-block">
        	    <input type="text" name="telphone" lay-verify="required|phone" maxlength="11"  autocomplete="off" placeholder="请填写您的手机号码" class="layui-input">
        	  </div>
        	</div>
          <div class="item">
            <h4>1. 所谓信息系统集成是指？</h4>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required" data-data="0"  value="A" title="A、计算机网络系统的安装调试">
            </div>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required"  data-data="0"  value="B" title="B、计算机应用系统的布置和实施">
            </div>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required" data-data="0"   value="C" title="C、计算机信息系统的设计、研发、实施和服务">
            </div>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required"  data-data="5"  value="D" title="D、计算机应用系统工程和网络系统工程的总体策划、设计、开发、实施、服务和保障">
            </div>
          </div>
          <div class="item">
            <h4>2. 以下关于计算机信息系统集成企业资质的说法正确的是？</h4>
            <div class="layui-block">
              <input type="radio" name="computer" lay-verify="required" data-data="0"  value="A" title="A、计算机信息系统集成企业资质共分四个级别，其中第四级是最高级">
            </div>
            <div class="layui-block">
              <input type="radio" name="computer" lay-verify="required"  data-data="5"  value="B" title="B、该资质由授权的认证机构进行评审和批准">
            </div>
            <div class="layui-block">
              <input type="radio" name="computer" lay-verify="required" data-data="0"   value="C" title="C、目前计算机信息系统集成企业资质的证书有效期为3年">
            </div>
            <div class="layui-block">
              <input type="radio" name="computer" lay-verify="required"  data-data="0"  value="D" title="D、申报二级资质的企业，其具有项目经理资质的人员数目应不少于20名">
            </div>
          </div>
          <div class="item">
            <h4>
              3. 某项目经理所在的单位正在启动一个新的项目，并配备了虚拟的项目小组。根据过去的经验，
              该项目经理认识到矩阵环境下的小组成员有时对职能经理的配合可能会超过对项目经理的配合。因此，
              该项目经理决定请求单位制定？
            </h4>
            <div class="layui-block"> 
              <input type="radio" name="formulate" lay-verify="required" data-data="0"  value="A" title="A、项目计划">
            </div>
            <div class="layui-block">
              <input type="radio" name="formulate" lay-verify="required"  data-data="5"  value="B" title="B、项目章程">
            </div>
            <div class="layui-block">
              <input type="radio" name="formulate" lay-verify="required" data-data="0"   value="C" title="C、项目范围说明年">
            </div>
            <div class="layui-block">
              <input type="radio" name="formulate" lay-verify="required"  data-data="0"  value="D" title="D、人力资源管理计划">
            </div>
          </div>
          <div class="item">
            <h4>
              4. 以太网100BASE-TX标准规定的传输介质是？
            </h4>
            <div class="layui-block">
              <input type="radio" name="media" lay-verify="required" data-data="0"  value="A" title="A、3类UTP">
            </div>
            <div class="layui-block">
              <input type="radio" name="media" lay-verify="required"  data-data="5"  value="B" title="B、5类UTP">
            </div>
            <div class="layui-block">
              <input type="radio" name="media" lay-verify="required" data-data="0"   value="C" title="C、单模光纤">
            </div>
            <div class="layui-block">
              <input type="radio" name="media" lay-verify="required"  data-data="0"  value="D" title="D、多模光纤">
            </div>
          </div>
          <div class="item">
            <h4>
              5. 关于配置库的描述，不正确的是？
            </h4>
            <div class="layui-block">
              <input type="radio" name="configuration" lay-verify="required" data-data="0"  value="A" title="A、开发库用于保存开发人员当前正在开发的配置项">
            </div>
            <div class="layui-block">
              <input type="radio" name="configuration" lay-verify="required"  data-data="0"  value="B" title="B、受控库包含当前的基线及对基线的变更">
            </div>
            <div class="layui-block">
              <input type="radio" name="configuration" lay-verify="required" data-data="0"   value="C" title="C、产品库包含已发布使用的各种基线">
            </div>
            <div class="layui-block">
              <input type="radio" name="configuration" lay-verify="required"  data-data="5"  value="D" title="D、开发库市开发人员的个人工作区，由配置管理员控制">
            </div>
          </div>
          <div class="item">
            <h4>
             6. 不是风险识别的原则？
            </h4>
            <div class="layui-block">
              <input type="radio" name="risk" lay-verify="required" data-data="0"  value="A" title="A、由粗及细，由细及粗">
            </div>
            <div class="layui-block">
              <input type="radio" name="risk" lay-verify="required"  data-data="0"  value="B" title="B、先怀疑，后排除">
            </div>
            <div class="layui-block">
              <input type="radio" name="risk" lay-verify="required" data-data="5"   value="C" title="C、对客户保密">
            </div>
            <div class="layui-block">
              <input type="radio" name="risk" lay-verify="required"  data-data="0"  value="D" title="D、排除与确认并重">
            </div>
          </div>
          <div class="item">
            <h4>
             7. 质量保证计划属于软件文档中的？
            </h4>
            <div class="layui-block"> 
              <input type="radio" name="software" lay-verify="required" data-data="5"  value="A" title="A、开发文档">
            </div>
            <div class="layui-block">
              <input type="radio" name="software" lay-verify="required"  data-data="0"  value="B" title="B、产品文档">
            </div>
            <div class="layui-block">
              <input type="radio" name="software" lay-verify="required" data-data="0"   value="C" title="C、管理文档">
            </div>
            <div class="layui-block">
              <input type="radio" name="software" lay-verify="required" data-data="0"   value="D" title="D、说明文档">
            </div>
          </div>
          <div class="item">
            <h4>
             8. 属于定量风险分析的工具和技术？
            </h4>
            <div class="layui-block">
              <input type="radio" name="technology" lay-verify="required" data-data="0"  value="A" title="A、概率和影响矩阵">
            </div>
            <div class="layui-block">
              <input type="radio" name="technology" lay-verify="required"  data-data="0"  value="B" title="B、风险数据质量评估">
            </div>
            <div class="layui-block">
              <input type="radio" name="technology" lay-verify="required" data-data="0"   value="C" title="C、风险概率和影响评估">
            </div>
            <div class="layui-block">
              <input type="radio" name="technology" lay-verify="required" data-data="5"   value="D" title="D、敏感性分析">
            </div>
          </div>
          <div class="item">
            <h4>
             9. 决策树分析法通常用决策树图表进行分析，根据下表的决策树分析法计算，图中机 会节点的预期收益 EMV 分别是 90 和（69）（单位:万元）？
            </h4>
            <p>
              <img src="img/9.png" >
            </p>
            <div class="layui-block">
              <input type="radio" name="money" lay-verify="required"  data-data="0"  value="B" title="B、160">
            </div>
            <div class="layui-block">
              <input type="radio" name="money" lay-verify="required"  data-data="0"  value="B" title="B、150">
            </div>
            <div class="layui-block">
              <input type="radio" name="money" lay-verify="required" data-data="5"   value="C" title="C、140">
            </div>
            <div class="layui-block">
              <input type="radio" name="money" lay-verify="required" data-data="0"   value="D" title="D、100">
            </div>
          </div>
          <div class="item">
            <h4>
             10. 以下是某工程进度网络图，如果因为天气原因，活动③→⑦的工期延后 2 天，那么总工期 将延后（ ）天。？
            </h4>
             <p>
              <img src="img/10.png" >
            </p>
            <div class="layui-block">
              <input type="radio" name="day" lay-verify="required" data-data="5"  value="A" title="A、0">
            </div>
            <div class="layui-block">
              <input type="radio" name="day" lay-verify="required"  data-data="0"  value="B" title="B、1">
            </div>
            <div class="layui-block">
              <input type="radio" name="day" lay-verify="required" data-data="0"   value="C" title="C、2">
            </div>
            <div class="layui-block">
              <input type="radio" name="day" lay-verify="required" data-data="0"   value="D" title="D、3">
            </div>
          </div>
          <div class="item">
            <h4>
             11. 企业资源规划是由 MRP 逐步演变并结合计算机技术的快速发展而来的，大致经历了 MRP、闭环MRP、MRPⅡ和 ERP 这四个阶段，以下关于企业资源规划论述不正确的是（ ）？
            </h4>
            <div class="layui-block">
              <input type="radio" name="programme" lay-verify="required" data-data="0"  value="A" title="A、MRP 指的是物料需求计划，根据生产计划、物料清单、库存信息制定出相关的物资 需求">
            </div>
            <div class="layui-block">
              <input type="radio" name="programme" lay-verify="required"  data-data="0"  value="B" title="B、MRPⅡ指的是制造资源计划，侧重于对本企业内部人、财、物等资源的管理">
            </div>
            <div class="layui-block">
              <input type="radio" name="programme" lay-verify="required" data-data="5"   value="C" title="C、闭环 MRP 充分考虑现有生产能力约束，要求根据物料需求计划扩充生产能力">
            </div>
            <div class="layui-block">
              <input type="radio" name="programme" lay-verify="required" data-data="0"   value="D" title="D、ERP 系统在 MRPⅡ的基础上扩展了管理范围，把客户需求与企业内部的制造活动以及供应商的制造资源整合在一起，形成一个完整的供应链管理 ">
            </div>
          </div>
          <div class="item">
            <h4>
             12. Web Service 的各种核心技术包括 XML、Namespace、XML Schema、SOAP、WSDL、UDDI、WS-Inspection、 WS-Security、WS-Routing 等，下列关于 Web Service 技术的叙述错误的是？
            </h4>
            <div class="layui-block">
              <input type="radio" name="web" lay-verify="required" data-data="0"  value="A" title="A、XML Schema 是用于对 XML 中的数据进行定义和约束">
            </div>
            <div class="layui-block">
              <input type="radio" name="web" lay-verify="required"  data-data="5"  value="B" title="B、在一般情况下，Web Service 的本质就是用 HTTP 发送一组 WEB 上的 HTML 数据包">
            </div>
            <div class="layui-block">
              <input type="radio" name="web" lay-verify="required" data-data="0"   value="C" title="C、SOAP（简单对象访问协议），提供了标准的 RPC 方法来调用 Web Service，是传输数 据的方式">
            </div>
            <div class="layui-block">
              <input type="radio" name="web" lay-verify="required" data-data="0"   value="D" title="D、SOAP 是一种轻量的、简单的、基于 XML 的协议，它被设计成在 WEB 上交换结构化的 和固化的信息 ">
            </div>
          </div>
          <div class="item">
            <h4>
            13. 小王在公司局域网中用 Delphi 编写了客户端应用程序，其后台数据库使用MS NT4+SQL Server，应用程序通过 ODBC 连接到后台数据库。此处的 ODBC 是？
            </h4>
            <div class="layui-block">
              <input type="radio" name="ODBC" lay-verify="required" data-data="5"  value="A" title="A、中间件">
            </div>
            <div class="layui-block">
              <input type="radio" name="ODBC" lay-verify="required"  data-data="0"  value="B" title="B、WEB Service">
            </div>
            <div class="layui-block">
              <input type="radio" name="ODBC" lay-verify="required" data-data="0"   value="C" title="C、 COM 构件">
            </div>
            <div class="layui-block">
              <input type="radio" name="ODBC" lay-verify="required" data-data="0"   value="D" title="D、WEB 容器 ">
            </div>
          </div>
          <div class="item">
            <h4>
              14. Internet 上的域名解析服务(DNS)完成域名与 IP 地址之间的翻译。执行域名服务的服务器被称为 DNS 服务器。小张在 Internet 的某主机上用 nslookup 
              命令查询“中国计算机技术职业资格网”的网站域名，所用的查询命令和得到的结果如下：
            </h4>
            <div>
             <p>
               >nslookup www．rkb．gov．cn <br>
               Server: xd-cache-1．bjtelecom．net <br>
               Address:219．141．136．10 Non-authoritative <br>
               Name: www．rkb．gov．cn <br>
               Address:59．151．5．241 <br>
             </p>
             <p class="pt">
               <span>根据上述查询结果，以下叙述中不正确的是</span>
             </p>
            </div>
            <div class="layui-block">
              <input type="radio" name="domain" lay-verify="required" data-data="0"  value="A" title="A、域名为“www．rkb．gov．cn”的主机 IP 地址为 59．151．5．241">
            </div>
            <div class="layui-block">
              <input type="radio" name="domain" lay-verify="required"  data-data="0"  value="B" title="B、域名为“xd-cache-1．bjtelecom．net”的服务器为上述查询提供域名服务">
            </div>
            <div class="layui-block">
              <input type="radio" name="domain" lay-verify="required" data-data="0"   value="C" title="C、域名为“xd-cache-1．bjtelecom．net”的 DNS 服务器的 IP 地址为 219．141．136．10">
            </div>
            <div class="layui-block">
              <input type="radio" name="domain" lay-verify="required" data-data="5"   value="D" title="D、首选 DNS 服务器地址为 219．141．136．10，候选 DNS 服务器地址为 59．151．5．241 ">
            </div>
          </div>
          <div class="item">
            <h4>
                15. 系统集成工程师小王为了查询其工作站的状态，在其工作站的命令行上运行“ping127.0.0.1” 命令，得到如下结果：关于以上查询结果 下列说法正确的是（ ）？
            </h4>
            <p>
              <img src="img/15.png" >
            </p>
            <div class="layui-block">
              <input type="radio" name="protocol" lay-verify="required" data-data="5"  value="A" title="A、小王的工作站正确安装了 TCP/IP 协议">
            </div>
            <div class="layui-block">
              <input type="radio" name="protocol" lay-verify="required"  data-data="0"  value="B" title="B、小王的工作站访问了网关并收到响应">
            </div>
            <div class="layui-block">
              <input type="radio" name="protocol" lay-verify="required" data-data="0"   value="C" title="C、小王的工作站访问了 DNS 并收到响应">
            </div>
            <div class="layui-block">
              <input type="radio" name="protocol" lay-verify="required" data-data="0"   value="D" title="D、小王的工作站未正确安装网络硬件或驱动程序 ">
            </div>
          </div>
           <div class="item">
            <h4>
                16. 关于下图的叙述，不正确的是（ ）？
            </h4>
            <p>
              <img src="img/16.png" >
            </p>
            <div class="layui-block">
              <input type="radio" name="falseness" lay-verify="required" data-data="0"  value="A" title="A、Rectangle 类和 Circle 类都有名为 area 的属性，这 2 个属性一定是相同的属性">
            </div>
            <div class="layui-block">
              <input type="radio" name="falseness" lay-verify="required"  data-data="5"  value="B" title="B、Rectangle 类和 Circle 类都有名为 getArea 的操作，这 2 个操作一定是相同的操作">
            </div>
            <div class="layui-block">
              <input type="radio" name="falseness" lay-verify="required" data-data="0"   value="C" title="C、Rectangle 中名为 length 的属性和 Circle 类中名为 radius 的属性一定是不同的属性。">
            </div>
            <div class="layui-block">
              <input type="radio" name="falseness" lay-verify="required" data-data="0"   value="D" title="D、Shape 类有一个属性，Circle 类有 2 个属性，Rectangle 类有 3 个属性 ">
            </div>
          </div>
          <div class="item">
            <h4>
              17. M 公司委托 T 公司开发一套新的管理信息系统，T 公司未能按合同规定的日期交付最终产品，给 M 公司造成巨大的运营损失，因此 M 公司向 T 公司提出索赔，其中不包括（）？
            </h4>
            <div class="layui-block">
              <input type="radio" name="barring" lay-verify="required" data-data="0"  value="A" title="A、清算赔偿金">
            </div>
            <div class="layui-block">
              <input type="radio" name="barring" lay-verify="required"  data-data="0"  value="B" title="B、间接损失赔偿金">
            </div>
            <div class="layui-block">
              <input type="radio" name="barring" lay-verify="required" data-data="0"   value="C" title="C、补偿性赔偿金">
            </div>
            <div class="layui-block">
              <input type="radio" name="barring" lay-verify="required" data-data="5"   value="D" title="D、惩罚性赔偿金">
            </div>
          </div>
          <div class="item">
            <h4>
              18. 某电信企业要建设一个 CRM 系统（包含呼叫和客服中心），系统集成一级资质企业甲和
              系统集成二级资质企业乙参与该系统建设。关于合同的签订，下列说法中，（ ）是正确的。？
            </h4>
            <div class="layui-block">
              <input type="radio" name="CRM" lay-verify="required" data-data="5"  value="A" title="A、如电信企业和乙签订 CRM 建设总包合同，则乙和甲就呼叫中心的建设只能签订分包合同">
            </div>
            <div class="layui-block">
              <input type="radio" name="CRM" lay-verify="required"  data-data="0"  value="B" title="B、如电信企业和乙签订客服中心建设总包合同，则电信企业和甲就 CRM 的建设只能签订总价合同">
            </div>
            <div class="layui-block">
              <input type="radio" name="CRM" lay-verify="required" data-data="0"   value="C" title="C、如电信企业和乙签订客服中心建设单项承包合同，则电信企业和甲就 CRM 的建设只能签订单项承包合同。">
            </div>
            <div class="layui-block">
              <input type="radio" name="CRM" lay-verify="required" data-data="0"   value="D" title="D、如电信企业和甲签订 CRM 建设总价合同，则甲和乙就呼叫中心的建设只能签订单价合同。">
            </div>
          </div>
          <div class="item"> 
            <h4>
              19. （ ）is a dedicated storage network that provides access to consolidated, block level storage. It is primarily used to make storage devices accessible to servers so that the devices appear as locally attached to the operating system.？
            </h4>
            <div class="layui-block">
              <input type="radio" name="network" lay-verify="required" data-data="0"  value="A" title="A、network –attached storage">
            </div>
            <div class="layui-block">
              <input type="radio" name="network" lay-verify="required" data-data="5"  value="A" title="B、storage area network">

            </div>
            <div class="layui-block">
              <input type="radio" name="network" lay-verify="required" data-data="0"   value="C" title="C、direct attached storage">
            </div>
            <div class="layui-block">
              <input type="radio" name="network" lay-verify="required" data-data="0"   value="D" title="D、computer cluster">
            </div>
          </div>
          <div class="item"> 
            <h4>
              20. Project manager believes that modifying the project scope may provide added value for the customer .The project manager should（）？
            </h4>
            <div class="layui-block">
              <input type="radio" name="believes" lay-verify="required" data-data="0"  value="A" title="A、change the scope baseline">
            </div>
            <div class="layui-block">
              <input type="radio" name="believes" lay-verify="required" data-data="0"  value="A" title="B、contact the customer to customer if the change adds value">
          
            </div>
            <div class="layui-block">
              <input type="radio" name="believes" lay-verify="required" data-data="5"   value="C" title="C、call a meeting of the change control board">
            </div>
            <div class="layui-block">
              <input type="radio" name="believes" lay-verify="required" data-data="0"   value="D" title="D、change the project’s objectives">
            </div>
          </div>
          
          <div class="layui-form-item" style="margin: 0;">
            <div class="layui-input-block" style="text-align: center;padding: 20px 0;">
              <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left: -110px;">立即查看分数</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script src="../js/jquery2.01.js"></script>
  <script src="../../ku/layui/layui.all.js"></script>
  <script type="text/javascript">
  	
    /**
     * system computer formulate media configuration
     * risk software  technology  money day
     * programme web ODBC domain protocol
     * falseness barring CRM  network believes
     */
    
    function isCheckPost(grade){
      var system = $('input[name=system]');
      var computer = $('input[name=computer]');
      var formulate = $('input[name=formulate]');
      var media = $('input[name=media]');
      var configuration = $('input[name=configuration]');
      var risk = $('input[name=risk]');
      var software = $('input[name=software]');
      var technology = $('input[name=technology]');
      var money = $('input[name=money]');
      var day = $('input[name=day]');
      var programme = $('input[name=programme]');
      var web = $('input[name=web]');
      var ODBC = $('input[name=ODBC]');
      var domain = $('input[name=domain]');
      var protocol = $('input[name=protocol]');
      var falseness = $('input[name=falseness]');
      var barring = $('input[name=barring]');
      var CRM = $('input[name=CRM]');
      var network = $('input[name=network]');
      var believes = $('input[name=believes]');
      
      var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
      var grade = grade(); //计算分数
      
      var arr = [
        system,computer,formulate,media,configuration,risk,software,technology,
        money,day,programme,web,ODBC,domain,protocol,falseness,barring,CRM,network,
        believes
      ]
      
      if(!$('input[name=username]').val()){
        layer.alert('请填写您的姓名！',{title:'提示'})
        $('input[name=username]').focus()
        return false;
      }
      if(!$('input[name=telphone]').val()){
        layer.alert('请填写您的手机号码！',{title:'提示'})
        $('input[name=telphone]').focus()
        return false;
      }
      if(!reg.test($('input[name=telphone]').val())){
        layer.alert('请填写正确的11位手机号码！',{title:'提示'})
        $('input[name=telphone]').focus()
        return false;
      }
       
      // var arrobj  = Array.prototype.slice.call(arr[i]);
      for(var i=0;i<arr.length;i++){
        var arrobj  = Array.prototype.slice.call(arr[i]);
        
        var bol = arrobj.some(function(el,index){
          console.log($(el).prop('checked'))
          return $(el).prop('checked') == true;
        })
        console.log(bol)
        if(!bol){
          layer.alert('没有做完题目！请做完再提交？',{title:'提示'})
          var layui_block = arr[i].eq(0).parent('.layui-block');
          var h = layui_block.offset().top - 70;
          console.log(h)
          $(document).scrollTop(h);
          return false;
        }
       
        
      }
      
      
      var data = {
        username:$('input[name=username]').val(),
        telphone:$('input[name=telphone]').val(),
        grade:grade,
        fromPlatform: "入户宝测试分网",
        sourceLink: document.referrer ? document.referrer : window.location.href,
      }
      
      console.log(data)
      $.ajax({
        type:'post',
        data:data,
        url:'',
        success:function(data){
          layer.alert('您的分数是&nbsp:'+grade+'分',{title:'提示'})
          $('form')[0].reset();
        },
        error:function(){
          // $('form')[0].reset();
          layer.alert('您的分数是&nbsp:'+grade+'分',{title:'提示'})
        }
      })
      
    }
   
    
    var form = layui.form;
    
    // form.on('submit', function(data){
    //  
    //   isCheckPost(grade);
    //   return false; //阻止表单跳转。
    // });
    
    $('.layui-btn').on('click',function(){
      isCheckPost(grade);
      return false; //阻止表单跳转。
    })
    
    //计算分数
    function grade(){
      var calculate = 0;
      var arr = $(":radio:checked");
      for(var i=0;i<arr.length;i++){
        calculate += parseInt(arr.eq(i).attr('data-data'));
      }
      console.log(calculate)
      return calculate;
    }
    
   
    
  </script>
  </body>
</html>
